<p class="strip {{shopheadingtitlealignment}}" style="margin-bottom:5px;background-color:#{{shopheadingstripcolor}}" ng-if="pagetitle != ''" ng-hide="hotDealsArray == null">
    <strong style="color:#{{shopheadingtitlecolor}};font-family:{{shopheadingtitlefont}}">{{pagetitle}}</strong>
    <span ng-if="carouseltype != 'recentSearchedProducts' && viewallitems != '' && shopheadingtitlealignment !='text-right'"><strong ng-click=redirection('{{viewallitems}}') style="color:#{{shopheadingtitlecolor}};font-family:{{shopheadingtitlefont}}">View all</strong></span>
    <button ng-if="carouseltype == 'recentSearchedProducts' && recentSearchArray" id="clearButton" ng-click="clearRecentSearchedProducts()" class="clear-recent-btn">Clear</button>
</p>
<data-owl-carousel class="owl-hotdeal" data-options="{items : 3,itemsDesktop : [1199,3],itemsDesktopSmall : [979,3],itemsTablet: [600,3],itemsMobile : [500, 2],lazyLoad : true,pagination: false}">
    <div class="item" ng-repeat="hotDealsData in hotDealsArray | limitTo:6" owl-carousel-item="">
        <div class="shop-desc-wrap" ng-click="goToProductSite('{{hotDealsData['id']}}','{{hotDealsData['url']}}','{{hotDealsData['title'] | escapeTitle}}','{{hotDealsData['img']}}','{{hotDealsData['origPrice']}}','{{hotDealsData['finalPrice']}}','{{hotDealsData['pbstore_data']['pointText'] | escapePointText}}','{{hotDealsData['numTotalStores']}}')">
            <div class="filter-points">
                <p><strong>{{hotDealsData['numTotalStores']}}</strong> Sellers</p>
            </div>
            <div class="responsive-container">
                <div class="dummy"></div>
                <div class="filter-img-wrap img-container">
                    <img ng-src="{{hotDealsData['img']}}" class="lazyOwl headeLogoClass" alt="{{hotDealsData['title']}}" onError="this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png'" imageonload>
                    <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="appExports">
                    <img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="!appExports">
                </div>
            </div>
            <div class="filter-desc">
                <ul class="shop-detail-wrap">
                    <li class="shop-prod-title">
                        <h4><strong>{{hotDealsData['title']}}</strong></h4>
                    </li>
                    <li>
                        <strong><strike>Rs.{{hotDealsData['origPrice']}}</strike>({{discountValue(hotDealsData['origPrice'],hotDealsData['finalPrice'])}}% off)</strong>
                    </li>
                    <li>
                        <h3 class="red-text">
                            <strong>Rs.{{hotDealsData['finalPrice']}}</strong>
                        </h3>
                    </li>
                    <li>
                        <strong><span ng-bind-html="hotDealsData['pbstore_data']['pointText'] | pointText"></span></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</data-owl-carousel>