


<div class="row"  ng-repeat="popularStores in popularrows">
    <div class="col-50" ng-repeat="store in popularStores">
        <div class="store-wrap text-center">
            <img ng-src="{{store['storeLogo']}}" onError="this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png'" ng-click="redirectToPopularStores('{{store['storeUrl']}}','{{popstoresweakloginrequired}}')">
        </div>
    </div>
</div>