









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="section hotdealscarousel">






<shoponlinecarousel dynamicId="7871"
    shopheadingtitlecolor=""
    shopheadingtitlefont=""
    shopheadingtitlealignment=""
    shopheadingstripcolor=""
    carouselType="featuredProducts"
    viewType="Grid view"
    url="/payback/anon/shoponline.html/carousels.7871Grid viewFEATURED PRODUCTSfeaturedProducts.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/shop-online/featured-products/jcr:content/content-par/hotdealscarousel"
    viewAllItems="/content/phonegap/payback/apps/payback/en/home/shop-online/featured-products"
    pageTitle="FEATURED PRODUCTS"
    appExports ="{{appExports}}">
</shoponlinecarousel></div>

</div>

           
       

        </ion-content>


