<p class="strip {{gridheadingtitlealignment}}" style="background-color:#{{gridheadingstripcolor}}" ng-if="gridcarouselheading != ''">
    <strong style="color:#{{gridheadingtitlecolor}};font-family:{{gridheadingtitlefont}}">{{gridcarouselheading}}</strong>
</p>
<div class="noNotifs_div" ng-if="enablenotifsscreen == 'true' && (notificationMsgsJson == '' || notificationMsgsJson==null)">
    <p style="font-size:20px;">No Notifications!</p>
    <p class="noNotifs_Desc">It's a no news day for you!</p>
    <div class="noNotifs_button_div" ng-click="redirection('false','/content/phonegap/payback/apps/payback/en/home/offers','')">Please check out Offers section for our latest offers!</div>
</div>
<ul style="padding-top:70px;" ng-if="enablenotifsscreen == 'true'">
    <li class="notifScreen_notifs" ng-repeat="item in notificationMsgsJson" ng-click="showNotificationPopup('{{item.title}}', '{{item.userdata.url}}' )">
        <span class="notifScreen_Dates">{{item.notifSentDateTime}}</span>
        <span ng-repeat="(key, val) in item">
         <div style="padding-top:10px;" ng-if="key == 'title'">{{item.title}} </div>
        </span>
    </li>
</ul>
<ul class="flex-container" ng-if="enablenotifsscreen != 'true'">
    <li class="{{gridnumofitems}} rec-outer-wrap" ng-repeat="gridCarouselImage in gridCarouselArray">
        <div class="rec-wrap">
            <img ng-src="{{gridCarouselServerUrl}}{{gridCarouselImage['bannerImagePath']}}" ng-click="redirection('{{gridCarouselImage['isExternal']}}','{{gridCarouselImage['buttonPath']}}','{{gridCarouselImage['weakLoginRequired']}}')" ng-if="isServerUrl() && gridCarouselImage['buttonPath'] != ''" class="headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img ng-src="{{gridCarouselServerUrl}}{{gridCarouselImage['bannerImagePath']}}" ng-if="isServerUrl() && gridCarouselImage['buttonPath'] == ''" class="headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img ng-src="{{gridCarouselImage['bannerImagePath']}}" ng-click="redirection('{{gridCarouselImage['isExternal']}}','{{gridCarouselImage['buttonPath']}}','{{gridCarouselImage['weakLoginRequired']}}')" ng-if="!isServerUrl() && gridCarouselImage['buttonPath'] != ''" class="headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img ng-src="{{gridCarouselImage['bannerImagePath']}}" ng-if="!isServerUrl() && gridCarouselImage['buttonPath'] == ''" class="headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="appExports">
            <img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="!appExports">
        </div>
    </li>
</ul>
