
<p class="strip {{smallheadingtitlealignment}}" style="background-color:#{{smallheadingstripcolor}}" ng-if="smalltitle != ''">
    <strong style="color:#{{smallheadingtitlecolor}};font-family:{{smallheadingtitlefont}}">{{smalltitle}}</strong>
</p>

<div class='smallCarouselWrapper'>
    <slick arrows=false dots=true autoplay={{autoplaysmallcarousel}} adaptiveHeight=true slides-to-show=2 slides-to-scroll=2 lazyLoad="ondemand" init-onload=true data="smallCarouselArray['smallCarousel']['carouselItemArray']">
        <div class='carosel-one text-center' ng-repeat="smallCarouselImage in smallCarouselArray['smallCarousel']['carouselItemArray']">
            <img data-lazy="{{smallCarouselImage['bannerImagePath']}}"  ng-if="!smallCarouselServerUrl && smallCarouselImage['buttonPath']" ng-click="redirection('{{smallCarouselImage['isExternal']}}','{{smallCarouselImage['buttonPath']}}','{{smallCarouselImage['weakLoginRequired']}}')"  class="slider-cpn headeLogoClass" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img data-lazy="{{smallCarouselServerUrl}}{{smallCarouselImage['bannerImagePath']}}"  ng-if="smallCarouselServerUrl && smallCarouselImage['buttonPath']"  ng-click="redirection('{{smallCarouselImage['isExternal']}}','{{smallCarouselImage['buttonPath']}}','{{smallCarouselImage['weakLoginRequired']}}')"  class="slider-cpn headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img data-lazy="{{smallCarouselImage['bannerImagePath']}}"  ng-if="!smallCarouselServerUrl && !smallCarouselImage['buttonPath']" class="slider-cpn headeLogoClass" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img data-lazy="{{smallCarouselServerUrl}}{{smallCarouselImage['bannerImagePath']}}"  ng-if="smallCarouselServerUrl && !smallCarouselImage['buttonPath']"  class="slider-cpn headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="appExports">
            <img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="!appExports">
        </div>
    </slick>
</div>