









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="categorydisplay section">







<ion-list>
    <div class="list">
        <div class="clear-search clearfix text-center">

            <button ng-click="openPopoverBrandsFilter($event)" class="filter-cat-button" ng-if="category != 'Authors' && category != 'Categories'">
                Brands
            </button>

            <button ng-click="openPopoverAuthorsFilter($event)" class="filter-cat-button" ng-if="category == 'Categories'">
                Authors
            </button>

            <p>
                {{displayCount}} of {{productCount}} Products
            </p>

            <span class="ion-funnel" ng-click="openPopoverCategoryFilter($event)" ng-if="categoryFilterData.length > 0"></span>

        </div>
    </div>
</ion-list>

<div class="row" ng-repeat="colsArr in categoryArr">
    <div class="col col-50" ng-repeat = "category in colsArr"  >
        <div class="filter-desc-wrap" ng-click="goToProductSite('{{category.id}}', '{{category.url}}', '{{category.title}}', '{{category.img}}', '{{category.origPrice}}', '{{category.finalPrice}}', '')" >
            <div class="filter-points">
                <p ng-hide="!category['numTotalStores']">
                    <strong>{{category['numTotalStores']}} Sellers</strong>
                </p>
                <span ng-bind-html=""></span>
            </div>
            <div class="responsive-container">
                <div class="dummy"></div>
                <div class="filter-img-wrap img-container">
                    <img src="{{category['img']}}" class="headeLogoClass" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png';" imageonload ng-if="!appExports">
                    <img src="{{category['img']}}" class="headeLogoClass" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png';" imageonload ng-if="appExports">
                    <img src="../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="!appExports">
                    <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="appExports">
                </div>
            </div>
            <div class="search-results-desc">
                <ul class="text-center">
                    <li class="filter-prod-title">
                        <h6>{{category['title']}}</h6>
                    </li>
                    <li>
                        <strike>Rs.{{category['origPrice']}}</strike>  ({{((category['origPrice'] - category['finalPrice'])/category['origPrice'])*100 | number:0}}% off)
                    </li>
                    <li>
                        <h5><strong>Rs.{{category['finalPrice']}}</strong></h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ion-infinite-scroll ng-if="!catNoMore" icon="ion-loading-c" on-infinite="getMoreCategoriesData()" distance="20%"></ion-infinite-scroll>

<div ng-if="catNoMore && !noProducts">
    <center style="padding:5px;color:b2b2b2">All Products Listed.</center>
</div>
<div ng-if="noProducts">
    <center style="padding:5px;color:b2b2b2">No Products.</center>
</div>

<script id="category-product-filter" type="text/ng-template">

 <ion-popover-view class="category-filter" style="  top: 167px !important; opacity:1 !important;">
        <div class="category-filter-wrapper filter-wrapper">
            <v-accordion class="vAccordion--default" control="accordionA">

                <v-pane ng-repeat="(filterKey,filterVal) in categoryFilterData">
                    <v-pane-header>
                        {{filterVal.displayName}}
                    </v-pane-header>

                    <v-pane-content >

                                    <ion-list class="search-filter-scroll">
                                       <div class="search-filter-scroll">
                                <div class="pane-body" ng-repeat="(rangeKey, rangeVal) in filterVal.range" ng-if="filterVal.type == 'NUMERIC'">
                                    <label class="col-90 filter-title">{{rangeVal}}</label>
                                    <input type="checkbox" class="filter-select col-10" name="check_{{$index}}_{{filterVal.index_field}}" ng-model="filterValue_num" id="check_{{$index}}_{{filterVal.index_field}}"
                                        ng-checked="isValChk[rangeVal]"
                                        ng-click="categoryFilterChange('{{filterVal.displayName}}', '{{rangeVal}}', 'check_{{$index}}_{{filterVal.index_field}}')"  />
                                </div>

                                <div class="pane-body" ng-repeat="(tagsKey, tagsVal) in filterVal.values" ng-if="filterVal.type == 'TAGS'">
                                    <label class="col-90 filter-title">{{tagsVal}}</label>
                                    <input type="checkbox" class="filter-select col-10" name="check_{{$index}}_{{filterVal.index_field}}" ng-model="filterValue_tags" id="check_{{$index}}_{{filterVal.index_field}}"
                                        ng-checked="isValChk[tagsVal]"
                                        ng-click="categoryFilterChange('{{filterVal.displayName}}', '{{tagsVal}}', 'check_{{$index}}_{{filterVal.index_field}}')"  />
                                </div>
									</div>
                                 </ion-list>


                    </v-pane-content>
                </v-pane>

            </v-accordion>
        </div>
</ion-popover-view>

</script>

<script id="category-brand-filter" type="text/ng-template">
    <ion-popover-view class="brands-filter">
            <ul>
                <li ng-repeat="(brandKey,brandVal) in categoryBrandsData" ng-click="categoryBrandChange('{{brandVal}}');">{{brandVal}}<i class="fa fa-angle-right"></i></li>
            </ul>
    </ion-popover-view>
</script>

<script id="category-author-filter" type="text/ng-template">
    <ion-popover-view class="location-change brands-filter">
            <ul>
                <li ng-repeat="author in authorList" ng-click="categoryAuthorChange('{{author.authorid}}');">{{author.authorname}}<i class="fa fa-angle-right"></i></li>
            </ul>
    </ion-popover-view>
</script>
</div>

</div>

           
       

        </ion-content>


