









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="carousel section">






<paybackcarousel dynamicid="6911" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment=""
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel.6911.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/earn-points/jcr:content/content-par/carousel">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="9894" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.9894.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/earn-points/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="staticblock section">






<dir id="dir" class="static-content-header" content="decodedHtml" style="padding:0" ng-if="angularPageTitle != 'Error'"></dir>
<dir id="dir" content="decodedHtml" style="padding:0" ng-if="angularPageTitle == 'Error'"></dir>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="8679" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.8679.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/earn-points/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>

           
       

        </ion-content>


