









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="smartsaver section">






<link rel="stylesheet" href="https://css-tricks.com/snippets/html/responsive-meta-tag/">
<link rel="stylesheet" href="{{serverUlr}}/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/css/bootstrap.css">
<link rel="stylesheet" href="{{serverUlr}}/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/css/cake.generic.css">
<link rel="stylesheet" href="{{serverUlr}}/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/css/smart.css">

<link rel="stylesheet" href="http://smartsaver.in/smart_saver_web/app/webroot/css/modern-business.css">
<link rel="stylesheet" href="http://smartsaver.in/smart_saver_web/app/webroot/css/style.css">
<link rel="stylesheet" href="http://smartsaver.in/smart_saver_web/app/webroot/css/magnific-popup.css">
<link rel="stylesheet" href="http://smartsaver.in/smart_saver_web/app/webroot/css/menu.css">
<link rel="stylesheet" href="http://smartsaver.in/smart_saver_web/app/webroot/css/noty_theme_default.css">
<link rel="stylesheet" href="http://smartsaver.in/smart_saver_web/app/webroot/css/font-awesome/css/font-awesome.min.css">


<!--<script src="http://smartsaver.in/smart_saver_web/app/webroot/js/swfobject.js"></script>-->
<style>
.action_display{
	font-size:11px;
	color:#0046AA;
}
#image_preview{
	background: #fff;
	width: 90%;
}
#upload-wrapper{
	font-size: 14px;
}
.share-option{
	display:none;
	position: absolute;
	margin-top: -36%;
	background-color: #fff;
	color: #555;
	padding: 3%;
	border-radius: 10%;
	border: 3px solid #bbb;
}
.share-option a{padding:0px;}
.share-option img{	  margin-top:0px;width:30px;cursor:pointer;}
.arrow{
	margin-top: 20%;
	position: absolute;
	width: 20px;
	margin-left: 15%;
}
#every_buy_logo{
	width: 60%; margin-top: 0px;
}
@media (max-width: 360px){
.share-option img #a{
	margin-left: 15%;
    margin-top: 60%;
    position: absolute;
    width: 30%;}


}
@media (max-width: 767px){
/*.modal-dialog {  width: 670px;  margin: 10% auto;}*/
.share-option{
	margin-top: -40%;
}
.arrow{
	width: 50px;
}
#every_buy_logo{
	width: 80%;
}
}
</style>

<div class="product_container">
	<div class="container">
		<div class="row">
			<center><img id="every_buy_logo" style="" src="https://smartsaver.in/smart_saver_web/app/webroot/img/everybuy_logo.png"/></center>
		</div>

		<div class="row">
			<div class="main-title">UPLOAD RECEIPT OF ANY PRODUCT LISTED BELOW &amp; EARN PAYBACK POINTS</div>
		</div>
		<div class="row">
		<div id="all_product"></div>
		</div>
	</div><!--Container Ends-->
</div>

<div id="product_popup">
	<input type="hidden" id="brand_id" value=""/>
	<input type="hidden" id="offer_id" value=""/>
	<input type="hidden" id="activity_count" value="" rel=""/>
	<input type="hidden" id="counter" dat="" value="0" rel="0"/>
	<div id="product_container">
		<button type="button" class="close" data-dismiss="modal" onclick = "close_product_popup();" aria-label="Close">x<!--<span aria-hidden="true"></span>--></button>
		<div class="notify"></div>
		<div id="product_display"></div>

		<div style="display:none" id="upload-wrapper">
			<div align="center">
				<div id="image_preview">
					<div class="model-body-inner" id="receipt_text" style="color:#000;padding: 5%;">Please Make Sure:<br/><br/>
					<div style="padding-left: 5%;text-align: left;">
					<ol align="left"><li>The receipt/ticket is from <b class="brand_name_text"></b></li>
					<li>The date on the receipt/ticket is between <b id="start_date_text"></b> and <b id="end_date_text"></b> </li>
					<li>You capture the full receipt/ticket, including : <b class="brand_name_text"></b></li>
					<li>Please upload genuine receipt/tickets only.If you deliberately upload a fake receipt, your PAYBACK account may get permanently blocked.</li>
					</ol></div>
					<div style="margin-bottom: 5%;" id="output"></div>
					<form method="post" enctype="multipart/form-data" id="MyUploadForm">
						<input type="hidden" name="brand_id" id="product_detail">
						<input type="hidden" name="imagePath" id="imagePath">
						<input type="hidden" name="uid" id="usr" value="">
						<input type="hidden" name="receipt_id" id="receipt_id" value=""/>
						<input type="hidden" name="app_id" id="app" value="4"/>
						<span class="browse-button" id="file_upload" onclick="browse_receipt()">Browse Receipt</span>
						<span class="browse-button" id="camera" onclick="onDeviceReady()">Camera</span>
					</form>

				</div>

					<img src="https://smartsaver.in/smart_saver_web/app/webroot/img/loader01.gif" id="loading_img" style="display:none" alt="Please Wait"/>
					<div id="im" class="model-body-inner" style="display:none;padding:3%;">
						<img style="width: 90%;height: 190px;" src="#" id="img_diplay"/><br/><br/><br/>
						<div class="upload_buttons">
                            <span class="browse-button" id="remove" ng-click="removeProduct()">Retry</span>
                            <span class="submit-button" id="submit" ng-click="submitProduct()">submit</span>
                        </div>
					</div>


				</div>

			</div>
		</div>
	<div style="display:none" id="share-wrapper">
	<input type="hidden" id="fbshare_link" value="">
	<input type="hidden" id="fbshare_desc" value="">
	<input type="hidden" id="fbshare_brand" value="">
	<br><br>
	<div class="form-group">
		<div class="col-sm-12 col-md-12 col-xs-12">
			<input type="text" id="share_email" style="width: 70%;float: left;margin-right: 10px;" class="form-control" placeholder="Enter your friends' email IDs, separated by commas"/>
			<a class="btn btn-primary uppercase" id="submit_share" onclick="emailShare()" href="javascript:void(0);">share</a>
		</div>
	</div><br><br>
	<div class="form-group">
		<div class="col-sm-12"><textarea class="form-control" id="share_text" style="height: 100px;"></textarea></div>
	</div><br>
	<!--<br><div class="form-group">
		<div class="col-sm-12 fb_share_invite"><span style="padding:0;" class="col-md-6 col-xs-6">You can also share on Facebook </span><a id="fbshare" onclick="fbshare2();"><img class="col-md-4 col-xs-4" src="https://smartsaver.in/smart_saver_web/app/webroot/img/fb-share.png" style="padding:0;"></a><br><br></div>
	</div><br>-->
	</div>
	</div>
</div><!--Product popup Ends-->
</div>
<div class="staticblock section">






<dir id="dir" class="static-content-header" content="decodedHtml" style="padding:0" ng-if="angularPageTitle != 'Error'"></dir>
<dir id="dir" content="decodedHtml" style="padding:0" ng-if="angularPageTitle == 'Error'"></dir>
</div>

</div>

           
       

        </ion-content>


