









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="section homesearchbox">






<a ng-click="redirectFromSearchBox()">
    <div class="list list-inset homesearchbox" ng-class="{'homebox-top-spacing':pageName == 'home'}">
        <label class="item item-input product-detail-search ios-home-product-detail-search">
            <input type="text" placeholder="Search for Product or Brand" class="product-detail-input" readonly="true">
            <i class="icon ion-search placeholder-icon"></i>
        </label>
    </div>
</a></div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="7351" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems="grid-item-two"
    gridheadingtitlealignment="text-center"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.7351.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/offers/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="6690" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.6690.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/offers/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="carousel section">






<paybackcarousel dynamicid="9421" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_0.9421.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/offers/jcr:content/content-par/carousel_0">
</paybackcarousel>
</div>

</div>

           
       

        </ion-content>


