









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="staticblock section">






<dir id="dir" class="static-content-header" content="decodedHtml" style="padding:0" ng-if="angularPageTitle != 'Error'"></dir>
<dir id="dir" content="decodedHtml" style="padding:0" ng-if="angularPageTitle == 'Error'"></dir>
</div>

</div>

           
       

        </ion-content>


