









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="login section">






    <div class="">
        <div class="pb-address">
            <div class="pb-input-wrapper form-style-3 form-change-pin">
                <form name="strongloginForm" id="loginForm" ng-if="loginResponse['loginType'] == 'Strong Login'" novalidate>
                    <!--<div class="login-strip">
                        <p><strong>LOGIN</strong></p>
                    </div>-->
                    <div class="">
                        <p class="login-text">PAYBACK Card No/Mobile No.</p>
                        <input type="tel" class="pin-card" id="strongcardNumber" name="phonenumber" ng-model="cardNumber" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" maxlength="16" minlength="10" placeholder="Card Number/Mobile Number" ng-disabled="isCardNumber()">
                        <p class="login-text">4 digit PIN</p>

                        <div class="pin-wrapper">
                            <input type="password" class="pin" id="1" name="pinone" pattern="[0-9]*" inputmode="numeric" ng-model="pinone" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" maxlength="4" placeholder="PIN" />
                        </div>

                        <button class="home-login  button button-block button-positive" type="submit" ng-click="loginValidation()" ng-hide="showButton()">LOGIN</button>
                        <center ng-show="showButton()">Signing in...</center>
                        <p class="forgot-pin-wrap"><a href="javascript:void(0);" class="forgot-pin" ng-click="getNumber();go(loginResponse['forgotPinRedirectionPath'])">Forgot PIN / Don&#39;t have a PIN?</a></p>
                        <!--
                        <center><a href="javaScript:void(0)" class="forgot-pin" ng-click="go('{{enrollPath}}')">Don't have a PIN?/Enroll</a></center>
                        -->
                    </div>
                </form>
                <form novalidate name="weakloginForm" id="weekLoginForm" ng-if="loginResponse['loginType'] == 'Weak Login'">
                    <!--<div class="login-strip">
                        <p><strong>LOGIN</strong></p>
                    </div>-->
                    <div class="">
                        <p>PAYBACK Card No. / Mobile No.</p>
                        <input type="tel" class="pin-card" id="weakphonenumber" name="weakphonenumber" ng-model="cardNumber" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" minlength="10" maxlength="16" placeholder="16 digit PAYBACK card number / 10 digit Mobile Number" required/>
                        <button class="home-login button button-block button-positive" ng-click="weekLoginValidation() " type="submit" ng-hide="showButtonWeak() || removeLoginWeak()">LOGIN</button>
                        <button class="home-login button button-block button-positive" ng-click="go(usrRegPath)" type="submit" ng-hide="showButtonWeak() || removeSignUpWeak()">SIGN UP</button>
                        <center ng-show="showButtonWeak()">Signing in...</center>
                    </div>
                </form>
                <form novalidate name="forgotForm" id="forgotForm" ng-if="loginResponse['loginType'] == 'Forgot PIN'">
                   <!-- <div class="login-strip">
                        <p><strong>FORGOT PIN?</strong></p>
                    </div>-->
                    <div class="">
                        <p>PAYBACK Card No. / Mobile No.</p>
                        <input type="tel" class="pin-card" id="forgotNumber" name="forgotNumber" ng-model="forgotNumber" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" minlength="10" maxlength="16" ng-model="cardNumber" required/>
                        <button class="button button-block button-positive home-login" ng-click="forgotValidation() " type="submit" ng-hide="showButtonWeak()">SUBMIT</button>
                        <center ng-show="showButtonWeak()">Submiting in...</center>
                    </div>
                </form>
            </div><!--end of login-wrapper-->
        </div>
    </div><!--end of card--></div>

</div>

           
       

        </ion-content>


