









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="search section">






    <div class="row search-list-wrapper">
        <i class="icon ion-search product-search-icon">
      </i>
        <div class="searchBox-Wrapper">
            <angucomplete id="searchBox" placeholder="Search for Product or Brand" pause="100" selectedobject="testObj" url="{{searchServerUrl}}/payback/anon/shoponline.html/autocomplete?searchTerm=" datafield="auto" titlefield="label" minlength="3" inputclass="search-input product-detail-input" matchclass="highlight" ng-keyup="$event.keyCode == 13 && productSearch()" />
        </div>
        <span class="ion-mic-a mic-icon" ng-click="recognizeSpeech()"></span>
        <button class="button button-clear search-btn" ng-click="productSearch()">
            GO
        </button>
        </span>
    </div>



    <div ng-show="!noResults">
        <ion-list ng-if="searchResultData">
            <div class="list">
                <div class="clear-search clearfix text-center">

                    <button ng-click="openPopoverfilter($event)" class="filter-cat-button" ng-show="noCategory">
                        Categories
                    </button>

                    <p>
                        {{searchResultCount}} Products
                    </p>

                    <span class="ion-funnel" ng-click="openPopoverfilterProduct($event);$ionicScrollDelegate.resize();" ng-if="filterData && noFilter">
          </span>

                </div>

            </div>

    </ion-list>

    </div>

    <div class="row" ng-repeat="cols in couponRows">

        <div class="col col-50" ng-repeat="col in cols">
            <div class="filter-desc-wrap" ng-hide="col.origPrice =='0' && col.finalPrice =='0'" ng-click="goToProductSite('{{col.id}}','{{col.url}}','{{col.orgTitle}}','{{col.img}}','{{col.origPrice}}','{{col.finalPrice}}','{{col['pbstore_data']['pointText']}}')">
                <div class="filter-points">
                        <strong>{{col.numTotalStores}} Sellers</strong>
                    <span ng-bind-html="col['pointText']">
            </span>
                </div>
                <div class="responsive-container">
                    <div class="dummy"></div>
                    <div class="filter-img-wrap img-container">
                        <img src="{{col.img}}" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png';" imageonload ng-if="!appExports">
                        <img src="{{col.img}}" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png';" imageonload ng-if="appExports">
                    </div>
                </div>
                <div class="search-results-desc">
                    <ul class="text-center">
                        <li class="filter-prod-title">
                            <h6>
                      {{col.label}}
                    </h6>
                        </li>
                        <li>
                            <strike>Rs.{{col.origPrice}}</strike> ({{((col['origPrice'] - col['finalPrice'])/col['origPrice'])*100 | number:0}}% off)
                        </li>
                        <li>
                            <h5><strong>Rs.{{col.finalPrice}}</strong></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="recent-strip-wrap">
        <button ng-click="openModal();" class="text-center recent-strip">
            <h5>Click here for Recently searched products</h5>
            <span class="ion-clock recent-clock-icon"></span>
        </button>
    </div>

    <script id="product-filter" type="text/ng-template">

        <ion-popover-view class="search-filter" style="  top: 167px !important; opacity:1 !important;">
                <!-- add `multiple` attribute to allow multiple sections to open at once -->
                <div class="filter-wrapper">
                    <v-accordion class="vAccordion--default" control="accordionA">

                        <!-- add expanded attribute to open the section -->
                        <v-pane ng-repeat="(subkeyFilter,subvalFilter) in filterData" ng-init="outerIndex=$index">
                            <v-pane-header>
                                {{subvalFilter.displayName}}
                            </v-pane-header>

                            <v-pane-content>

                                <ion-list >
                                   <div class="search-filter-scroll">
                                    <div class="pane-body" ng-repeat="filetValue in subvalFilter.values" ng-if="subvalFilter.type == 'TAGS'" ng-init="innerIndex=$index">
                                        <label class="col-90 filter-title">{{filetValue}}</label>

                                        <input type="checkbox" class="filter-select col-10" ng-model="filetValue_tag" name="check{{outerIndex}}{{innerIndex}}{{subvalFilter.type}}" id="check{{outerIndex}}{{innerIndex}}{{subvalFilter.type}}" ng-change="stateChanged('{{filetValue}}','{{subvalFilter.displayName}}','check{{outerIndex}}{{innerIndex}}{{subvalFilter.type}}')" />

       								</div>
                                        <div class="pane-body" ng-repeat="filetValue in subvalFilter.range" ng-if="subvalFilter.type == 'NUMERIC'" ng-init="innerIndex=$index">
                                            <label class="col-90 filter-title">{{filetValue}}</label>

                                            <input type="checkbox" class="filter-select col-10" ng-model="filetValue_num" name="check{{outerIndex}}{{innerIndex}}{{subvalFilter.type}}" id="check{{outerIndex}}{{innerIndex}}{{subvalFilter.type}}" ng-change="stateChanged('{{filetValue}}','{{subvalFilter.displayName}}','check{{outerIndex}}{{innerIndex}}{{subvalFilter.type}}')" />
        </div>
        						</ion-list>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                </div>
        </ion-popover-view>
    </script>

    <!--end of pop-over-view-->
    <script id="filter-pop" type="text/ng-template">
        <ion-popover-view class="location-change brands-filter">
            <ion-content>
                <ul>
                    <li ng-repeat="(subkey,subval) in categoryData" ng-click="filterCategory('{{subkey}}');">{{subkey}}<i class="fa fa-angle-right"></i>
                    </li>

                </ul>
            </ion-content>
        </ion-popover-view>
    </script>

    <!--end of pop-over-view-->
    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">My Modal title</h1> <i class="ion-close-round filter-close-icon" ng-click="closeModal();"></i> </ion-header-bar>
            <ion-content>
                <ion-list>
                    <div class="list">
                        <a class="item item-icon-left item-icon-right" href="javascript:void(0);" ng-repeat="recentSearch in recentSearches" ng-click="populateInSearch('{{recentSearch}}')"> <i class="icon ion-search recent-search-icon"> </i> {{recentSearch}} <i class="icon ion-arrow-right-c recent-search-icon"> </i> </a>
                    </div>
                </ion-list>
                <div class="row" ng-repeat="cols in couponRows">
                    <div class="col col-33" ng-repeat="col in cols" ng-click="goTosite(searchItem)" ng-hide="searchItem.origPrice =='0' && searchItem.finalPrice =='0'">
                        <div class="filter-desc-wrap">
                            <div class="filter-points">
                                <p> {{col.numTotalStores}} Sellers </p> <span ng-bind-html="col['pointText']"> </span> </div>
                            <div class="responsive-container">
                                <div class="dummy"></div>
                                <div class="filter-img-wrap img-container"> <img src="{{col.img}}" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png';" imageonload ng-if="!appExports"> </div>
                            </div>
                            <div class="search-results-desc">
                                <ul class="text-center">
                                    <li>
                                        <h6> {{col.label}} </h6> </li>
                                    <li> Rs.30000-(30% off) </li>
                                    <li> Rs.{{col.origPrice}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script id="product-filter" type="text/ng-template">
                    <ion-popover-view class="coupons-scroll filter-drop" style="opacity:1 !important;">

                        <!-- add `multiple` attribute to allow multiple sections to open at once -->
                        <v-accordion class="vAccordion--default filter-vacc" control="accordionA">
                            <!-- add expanded attribute to open the section -->
                            <v-pane ng-repeat="(subkeyFilter,subvalFilter) in filterData">
                                <v-pane-header> {{subvalFilter.displayName}} </v-pane-header>
                                <v-pane-content>
                                    <div class="pane-body" ng-repeat="filetValue in subvalFilter.values">
                                        <label class="col-90 filter-title">{{filetValue}}</label>
                                        <input type="checkbox" class="filter-select col-10"> </div>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>

                    </ion-popover-view>
                </script>
                <!--end of pop-over-view-->
                <script id="filter-pop" type="text/ng-template">
                    <ion-popover-view class="location-change brands-filter">
                            <ul>
                                <li ng-repeat="(subkey,subval) in categoryData" ng-click="filterCategory('{{subkey}}');">{{subkey}}<span><i class="ion-chevron-right"></i></span>
                                </li>
                            </ul>
                    </ion-popover-view>
                </script>
                <!--end of pop-over-view-->
                <script id="my-modal.html" type="text/ng-template">
                    <ion-modal-view class="filter-modal">
                        <ion-header-bar class="recent-search-header">
                            <h1 class="title">Recent Searches</h1> <i class="ion-close-round filter-close-icon" ng-click="closeModal();"></i> </ion-header-bar>

                        <ion-content>
                            <ion-list>
                                <div class="list" ng-if="recentSearches">
                                    <a class="item item-icon-left item-icon-right" href="javascript:void(0);" ng-repeat="recentSearch in recentSearches" ng-click="populateInSearch('{{recentSearch}}')"> <i class="icon ion-search recent-search-icon"> </i> {{recentSearch}} <i class="icon ion-arrow-right-c recent-search-icon"> </i> </a>
                                    <div class="clear-btn-wrap text-center">
                                        <button ng-click="clearRecentSearches();" class="button clearall-btn">Clear All</button>
                                    </div>
                                </div>
                                <div ng-if="recentSearches == null">
                                    <center>
                                        No Recently Searched Items Found.
                                    </center>
                                </div>
                            </ion-list>
                        </ion-content>
                    </ion-modal-view>
                </script>
            </ion-content>
        </ion-modal-view>
    </script>




    </ion-content>
    <div ng-show="noResults">
        <center>
            No Results Found
        </center>
    </div>
</div>

</div>

           
       

        </ion-content>


