









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="carousel section">






<paybackcarousel dynamicid="7636" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment=""
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel.7636.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/carousel">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="7729" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.7729.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="5161" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.5161.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="6635" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_1.6635.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/gridcarousel_1"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="751" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_2.751.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/gridcarousel_2"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="carousel section">






<paybackcarousel dynamicid="7172" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_1.7172.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/carousel_1">
</paybackcarousel>
</div>
<div class="carousel section">






<paybackcarousel dynamicid="4888" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_0.4888.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/carousel_0">
</paybackcarousel>
</div>
<div class="carousel section">






<paybackcarousel dynamicid="8596" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_2.8596.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Burn/jcr:content/content-par/carousel_2">
</paybackcarousel>
</div>

</div>

           
       

        </ion-content>


