









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="enrollmember section">






    <div class="">

        <div class="" ng-if="enrollmentForm">
            <div class="form-style-3 pb-input-wrapper">
                <form id="enrollmentCheckForm">
                    <label for="mobile"><span>Mobile<span class="required">*</span></span>
                        <input type="tel" placeholder="MOBILE NUMBER" class="pb-address-input" ng-model="linkedMobileNumber"
                            id="mobileNumber" name="mobileNumber" maxlength="10" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')">
                    </label>
                    <label for="email"><span>Email Address<span class="required">*</span></span>
                        <input type="email" placeholder="EMAIL ADDRESS" class="pb-address-input" id="emailId"
                            placeholder="EMAIL ID" id="emailId" name="emailId">
                    </label>

                    <div class="row pb-address-header enollBtn">
                        <button class="home-login  button button-block button-positive" ng-click="checkEnrollValidation()">ENROLL</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="memberDetailsform" ng-if="enrollOrRegister">
            <div class="form-style-3 pb-input-wrapper">
                <form id="enrollRegForm" name="enroll">
                    <div><span>Salutation<span class="required">*</span></span>
                        <div id="radioValue">
                            <input type="radio" class="pb-address-input" name="title" checked="checked" value="Mr">Mr
                            <input type="radio" class="pb-address-input" name="title" value="Mrs">Mrs
                            <input type="radio" class="pb-address-input" name="title" value="Ms">Ms
                        </div>
                    </div>
                    <label for="firstName"><span>First Name<span class="required">*</span></span>
                        <input type="text" placeholder="FIRST NAME" class="pb-address-input" name="firstName" id="firstName" maxlength="25">
                    </label>
                    <label for="lastName"><span>Last Name<span class="required">*</span></span>
                        <input type="text" placeholder="LAST NAME" class="pb-address-input" id="lastName" name="lastName" maxlength="25">
                    </label>
                    <label for="email"><span>Confirm Email Address<span class="required">*</span></span>
                        <input type="email" placeholder="CONFIRM EMAIL ADDRESS" class="pb-address-input" id="confirmEmail" name="confirmEmail" >
                    </label>
                    <label for="phone" ng-if="registerForm"><span>Phone Number<span class="required">*</span></span>
                        <input type="number" name ="phone" data-phone placeholder="MOBILE NUMBER" class="pb-address-input" id="phoneNum"
                            minlength="10" maxlength="12" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')">
                    </label>
                    <label for="dob"><span>D.O.B<span class="required">*</span></span>
                        <input type="date" placeholder="DOB" class="pb-address-input" name="dob" id="dob">
                    </label>
                    <label for="addressFirst"><span>Flat/House Number<span class="required">*</span></span>
                        <input type="text" placeholder="Flat/ House Number" class="pb-address-input" id="addressFirst" name="addressFirst" maxlength="55">
                    </label>
                    <label for="addressSecond"><span>Society/Street Name<span class="required">*</span></span>
                        <input type="text" placeholder="Society/Street Name" class="pb-address-input" id="addressSecond" name="addressSecond" maxlength="55">
                    </label>
                    <label for="addressThird"><span>Landmark</span>
                        <input type="text" placeholder="Landmark" class="pb-address-input" id="addressThird" name="addressThird" maxlength="55">
                    </label>
                    <label for="state"><span>State <span class="required">*</span></span>
                        <select id="state" placeholder="STATE" class= "pb-address-input form-control state" ng-model="enrollState" name="state" ng-change="getCities(enrollState);"></select>
                    </label>
                    <label for="city"><span>City <span class="required">*</span></span>
                        <select id="city" placeholder="CITY" name="city" class="pb-address-input form-control city"></select>
                    </label>
                    <label for="zipCode"><span>Pincode <span class="required">*</span></span>
                        <input type="tel" placeholder="PINCODE" class="pb-address-input" name="zipCode" id="zipCode" maxlength="6" ng-maxlength="6" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')">
                    </label>
                </form>
                <p>Please enter the four digit pin you want to create</p>
                <div class="pin-wrapper">
                    <input type="password" name="pin1" id="17" class="pin" maxlength="4" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')">
                </div>
            </div>
            <div class="row pb-address-header">
                <button class="home-login button button-block button-positive" ng-click="enrollMemberValidation()">SUBMIT</button>
            </div>
        </div>
    </div></div>

</div>

           
       

        </ion-content>


