









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="carousel section">






<paybackcarousel dynamicid="6564" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment=""
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel.6564.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/moto/jcr:content/content-par/carousel">
</paybackcarousel>
</div>
<div class="carousel section">






<paybackcarousel dynamicid="6525" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment=""
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_0.6525.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/moto/jcr:content/content-par/carousel_0">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="4040" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.4040.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/moto/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="maincarousel section">






<div ng-if="compoName != ''">
    <p class="strip " style="background-color:#">
        <strong class="ng-binding" style="color:#;font-family:">{{compoName}}</strong>
    </p>
</div>
<maincarousel mainweakloginrequired="" autoplaymaincarousel="" appExports ="{{appExports}}"></maincarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="1894" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.1894.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/moto/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>

           
       

        </ion-content>


