









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="partnerbrands section">





<script type="text/javascript" src="../../../../../../../apps/paybackmobile/components/content/staticcontent/carousel/clientlibs.js"></script>

<link rel="stylesheet" href="../../../../../../../apps/paybackmobile/components/content/staticcontent/carousel/clientlibs.css" type="text/css">






    <div class="row brand-wrapper" ng-repeat="cols in rows">
        <div class="col-50 brand-gutter-space" ng-repeat = "col in cols">
            <div class="brand-store" ng-click="showBrand({{col['count']}})">
                <img ng-src="{{serverBrandUrl}}{{col['imagePath']}}" alt="{{col['brandname']}}" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports"/>
                <img ng-src="{{serverBrandUrl}}{{col['imagePath']}}" alt="{{col['brandname']}}" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports"/>
                <div class="brand-strip">{{col['pointsdescription']}}</div>
                
            </div>
        </div>
    </div><!--end of brand-wrapper-->
</div>

</div>

           
       

        </ion-content>


