









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="maincarousel section">






<div ng-if="compoName != ''">
    <p class="strip " style="background-color:#">
        <strong class="ng-binding" style="color:#;font-family:">{{compoName}}</strong>
    </p>
</div>
<maincarousel mainweakloginrequired="true" autoplaymaincarousel="" appExports ="{{appExports}}"></maincarousel>
</div>
<div class="popularstores section">









<popularstore  viewType="Carousel View"
    url="/payback/anon/shoponline.html/homepage.store.json"
    popularheadingtitlecolor=""
    popularheadingtitlefont=""
    popularheadingtitlealignment="text-left"
    popularheadingstripcolor=""
    ng-if="!popularShowNetwork"
    componenttitle="POPULAR STORE"
    viewalllink="/content/phonegap/payback/apps/payback/en/home/shop-online/popular-stores"
    popstoresweakloginrequired="true">
</popularstore >


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="3271" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.3271.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/shop-online/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="section hotdealscarousel">






<shoponlinecarousel dynamicId="1603"
    shopheadingtitlecolor=""
    shopheadingtitlefont=""
    shopheadingtitlealignment="text-left"
    shopheadingstripcolor=""
    carouselType="topDeals"
    viewType="Carousel View"
    url="/payback/anon/shoponline.html/carousels.1603Carousel ViewTOP DEALStopDeals.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/shop-online/jcr:content/content-par/hotdealscarousel_0"
    viewAllItems="/content/phonegap/payback/apps/payback/en/home/shop-online/hot-deals"
    pageTitle="TOP DEALS"
    appExports ="{{appExports}}">
</shoponlinecarousel></div>
<div class="section hotdealscarousel">






<shoponlinecarousel dynamicId="7029"
    shopheadingtitlecolor=""
    shopheadingtitlefont=""
    shopheadingtitlealignment="text-left"
    shopheadingstripcolor=""
    carouselType="recentSearchedProducts"
    viewType="Carousel View"
    url="/payback/anon/shoponline.html/carousels.7029Carousel ViewRecently ViewedrecentSearchedProducts.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/shop-online/jcr:content/content-par/hotdealscarousel"
    viewAllItems=""
    pageTitle="Recently Viewed"
    appExports ="{{appExports}}">
</shoponlinecarousel></div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="3142" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.3142.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/shop-online/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>

           
       

        </ion-content>


