









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="8582" enableNotifsScreen="true"
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.8582.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Notifications/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>

           
       

        </ion-content>


