









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
                <ion-content class="carousel-header has-footer  {{contentWrapper}} {{shopOnline}}  {{ionContentClass}}" has-bouncing="false" padding="true" scroll="false" lazy-scroll>
                <div class="content-par parsys"><div class="storelocator section">









     <script id="filter-pop" type="text/ng-template">
      <ion-popover-view class="location-change">
        <div class="filter-arrow-down filter-arrow-down-grey"><span class="ion-arrow-down-b"></span></div>
          <div class="row store-filter-wrapper">
            <div class="col-50 location-wrapper">
              <a href="javascript:void(0)">
				<img ng-src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/change_location_icon.png" height="50" width="50" ng-click="toggle()" ng-if="!appExports">
				<img ng-src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/change_location_icon.png" height="50" width="50" ng-click="toggle()" ng-if="appExports">
				</a>
              <p>CHANGE LOCATION</p>
            </div>

            <div class="col-50 location-wrapper">
              <a href="javascript:void(0)">
				<img ng-src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/change_radius_icon.png" height="50" width="50" ng-click='changeRadious()' ng-if="!appExports">
				<img ng-src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/change_radius_icon.png" height="50" width="50" ng-click='changeRadious()' ng-if="appExports">
			 </a>
              <p>DISTANCE RADIUS</p>
			  	<div class="change-radius">
                  <div class="checkboxgroup" ng-repeat="subscription in entities">
                    <input type="checkbox" class="check" ng-model="subscription.checked" ng-click="updateSelection($index, entities)" />
                        <label for="km">{{subscription.value}}km</label>
                  </div>



            </div>
          </div>
      </ion-popover-view>
    </script> <!--end of pop-over-view-->

    </div><!-- end of coupons header-->



	<div class="container">
     <div id="map_container"></div>
  	 <div id="geolocation" data-tap-disabled="true"></div>
	</div>


	<div class="bar bar-header item-input-inset sl-location-change reveal-animation" ng-show="visible">
        <label class="item-input-wrapper search-bar">
          <i class="icon ion-ios7-search"></i>
            <form ng-submit="changeLocation()">
                <input type="search" placeholder="Search" ng-model="searchArea" id="searchArea"/>
            </form>
           </label>
        <button class="button button-clear search-btn" ng-click="changeLocation()">
          GO
        </button>
        <span class="ion-close-circled search-close-btn" ng-click="toggle()"></span>
      </div>

    <div class="col store-details ng-hide"  ng-repeat="list in branchList"  id="branchDetail{{$index}}" ng-if="!singleBranch">
    <span class="ion-close-round brand-details-close" ng-click="closeMapDetail('branchDetail{{$index}}')"></span>
    <div class="row">
      <div class="col-50 store-address-wrapper">
          <div class="brand-name">{{list['extint.BranchInfo']['types.BranchContext']['types.PartnerDisplayName']}}</div>
        <div class="brand-address">
          <p>{{list['extint.BranchInfo']['types.BranchPostalAddress']['types.AdditionalAddress1']}}</br>
          {{list['extint.BranchInfo']['types.BranchPostalAddress']['types.Street']}}
          {{list['extint.BranchInfo']['types.BranchPostalAddress']['types.PartnerDisplayName']}}
          {{list['extint.BranchInfo']['types.BranchPostalAddress']['types.District']}}</br>
          {{list['extint.BranchInfo']['types.BranchPostalAddress']['types.Province']}}
          {{list['extint.BranchInfo']['types.BranchPostalAddress']['types.ZipCode']}}</p>
        </div>
          <div class="brand-distance col" ng-click="goToMap()">{{list['extint.BranchDistance']/1000 | number:1}} KM from Current Location.
          <img src="../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/navigator_icon.png" width="20" height="20" ng-if="!appExports">
          <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/navigator_icon.png" width="20" height="20" ng-if="appExports">
          </div>
      </div>

        <ion-scroll direction="x" class="item wide-item map-brands">
          <div class="card sl-coupon col item" ng-repeat="couponlist in list.couponsList" ng-class="{'active-coupon':couponlist['extint.Coupon']['types.CouponStatus'] == '2','inactive-coupon':couponlist['extint.Coupon']['types.CouponStatus'] == '1'}">
              <div class="col coupons-list-header">
                <img ng-src="{{mapServerUrl}}{{couponlist['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports"/>
                <img ng-src="{{mapServerUrl}}{{couponlist['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports"/>
              </div>
              <div class="sl-container col">
                  <center><span><p>{{couponlist['extint.Coupon']['DisplayTexts']['treatmentHeadLine']}} </span></p></center>
                 <!-- <p>{{couponlist['extint.Coupon']['DisplayTexts']['treatmentSubline']}}</p>-->
              </div>

          		 <button id="couponlist['extint.Coupon']['types.CouponID']" class="log coupons-button" ng-click="activateCoupons({{couponlist}})" ng-if="couponlist['extint.Coupon']['types.CouponStatus'] == '1'">ACTIVATE</button>
            <button class="log coupons-button" ng-if="couponlist['extint.Coupon']['types.CouponStatus'] == '2' && !col['hasButtonText']">ACTIVATED</button>
            <button class="log coupons-button" ng-click='shopNow(couponlist)' ng-if="CouponResponse['extint.Coupon']['types.CouponStatus'] == '2' && col['hasButtonText']">{{CouponResponse['buttonText']}}</button>
            </div>
        </ion-scroll>
    </div>
  </div>

  <div class="col store-details ng-hide" id="branchDetail0" ng-if="singleBranch">
    <span class="ion-ios7-close-outline brand-details-close" ng-click="closeMapDetail('branchDetail0')"></span>
    <div class="row">
      <div class="col-50 store-address-wrapper">
          <div class="brand-name">{{branchList['extint.BranchInfo']['types.BranchContext']['types.PartnerDisplayName']}}</div>
        <div class="brand-address">
          <p>{{branchList['extint.BranchInfo']['types.BranchPostalAddress']['types.AdditionalAddress1']}}</br>
          {{branchList['extint.BranchInfo']['types.BranchPostalAddress']['types.Street']}}
          {{branchList['extint.BranchInfo']['types.BranchPostalAddress']['types.PartnerDisplayName']}}
          {{branchList['extint.BranchInfo']['types.BranchPostalAddress']['types.District']}}</br>
          {{branchList['extint.BranchInfo']['types.BranchPostalAddress']['types.Province']}}
          {{branchList['extint.BranchInfo']['types.BranchPostalAddress']['types.ZipCode']}}</p>
        </div>
          <div class="brand-distance col" ng-click="goToMap()">{{branchList['extint.BranchDistance']/1000 | number:1}} KM from Current Location.
          <img src="../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/navigator_icon.png" width="20" height="20" ng-if="!appExports">
          <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/navigator_icon.png" width="20" height="20" ng-if="appExports">
          </div>
      </div>

        <ion-scroll direction="x" class="item wide-item map-brands">


          <div class="card sl-coupon col item" ng-repeat="couponlist in branchList.couponsList" ng-class="{'active-coupon':couponlist['extint.Coupon']['types.CouponStatus'] == '2','inactive-coupon':couponlist['extint.Coupon']['types.CouponStatus'] == '1'}">
              <div class="col coupons-list-header">
                <img ng-src="{{mapServerUrl}}{{couponlist['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports">
                <img ng-src="{{mapServerUrl}}{{couponlist['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports">
              </div>
              <div class="sl-container col">
                  <center><span><p>{{couponlist['extint.Coupon']['DisplayTexts']['treatmentHeadLine']}} </span></p></center>
                 <!-- <p>{{couponlist['extint.Coupon']['DisplayTexts']['treatmentSubline']}}</p>-->
              </div>

          		 <button id="couponlist['extint.Coupon']['types.CouponID']" class="log coupons-button" ng-click="activateCoupons({{couponlist}})" ng-if="couponlist['extint.Coupon']['types.CouponStatus'] == '1'">ACTIVATE</button>
            <button class="log coupons-button" ng-if="couponlist['extint.Coupon']['types.CouponStatus'] == '2' && !col['hasButtonText']">ACTIVATED</button>
            <button class="log coupons-button" ng-click='shopNow(couponlist)' ng-if="CouponResponse['extint.Coupon']['types.CouponStatus'] == '2' && col['hasButtonText']">{{CouponResponse['buttonText']}}</button>

            </div>





      </ion-scroll>


    </div>
  </div>




   <div class="brand-carousel-wrapper" ng-controller="brandCtrl">
    <label class="brand-hide">

        <!-- <div class="switch">
          <input type="checkbox" checked="true" ng-click="showallnone($event, e.id)"/>
          <label><i></i></label>
        </div> -->

        <label class="toggle android header-toggle" onclick="">
                <input id="view" type="checkbox" ng-click="showallnone($event, e.id)" checked="true"/>
                <p>
                  <span>
                    All
                  </span>
                  <span>
                    None
                  </span>
                </p>
                <a class="slide-button">
                </a>
              </label>


    </label>


    <ion-scroll direction="x"  class="item wide-item store-scroll">

     <div class="item col-50 store-gutter-space" href="#" ng-repeat="parters in partnerHtml">
        <label class="{{filterCheckClass}}" ng-click="removeMarker('{{parters['partnerShortName']}}','filterCheckClass{{$index}}','checkBoxClass{{$index}}')" id="filterCheckClass{{$index}}"><span class="{{checkBoxClass}}" id="checkBoxClass{{$index}}"></span></label>
          <div class="col coupons-list-header store-coupon-wrapper">
            <img ng-src="{{mapServerUrl}}{{parters['partnerImageUrl']}}" width="100" height="50" alt="partners" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports">
            <img ng-src="{{mapServerUrl}}{{parters['partnerImageUrl']}}" width="100" height="50" alt="partners" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports">
          </div>
      </div>

  </ion-scroll>

  </div><!--end of brand-carousel-wrapper-->

    <style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }


</style>
</div>

</div>

           
           
           
           
           
       

        </ion-content>


