









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="transactionlist section">






        <div ng-repeat="items in transactionresponse" ng-if="!singleTransaction">
            <div ng-repeat="transaction in items['extint.AccountTransactionEvent']">
                <div ng-class-odd="'row transaction-list-bold row-center'"
                    ng-class-even="'row transaction-list-light row-center'"
                    ng-click="toggleTransaction(transaction)">
                    <div class="col col-center date-wrapper">
                        <p ng-if="!transaction['types.AccountTransactionDetails']['types.BookingDate']">{{transaction['types.AccountTransactionDetails']['types.AddDate'] | date:'dd-MM-yyyy'}}</p>
                        <p ng-if="transaction['types.AccountTransactionDetails']['types.BookingDate']">{{transaction['types.AccountTransactionDetails']['types.BookingDate'] | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <div class="col detail">
                        <p>{{transaction['types.Partner']['types.PartnerDisplayName']}}</p>
                    </div>

                    <div class="col col-center">
                        <p ng-class="{'points-green':transaction['types.AccountTransactionDetails']['displayColor']=='G','points-red':transaction['types.AccountTransactionDetails']['displayColor']=='R'}"><strong>{{transaction["types.AccountTransactionDetails"]["types.Value"]["types.LoyaltyAmount"]|number:0}}&deg;P</strong></p>
                        <span class="ion-arrow-right-b transaction-details-icon" ng-if="!isTransactionShown(transaction)"></span>
                        <span class="ion-arrow-down-b transaction-details-icon" ng-if="isTransactionShown(transaction)"></span>
                    </div>
                </div>
                <div class="row transaction-details-strip" ng-show="isTransactionShown(transaction)">
                    <div class="transaction-details">
                        Partner Name : {{transaction['types.Partner']['types.PartnerDisplayName']}}<br>
                        Transaction Number : {{transaction['types.ReceiptNumber']}}<br>
                        Transaction Type : {{transaction['types.AccountTransactionDetails']["types.Description"]}}<br>
                        Points : {{transaction["types.AccountTransactionDetails"]["types.Value"]["types.LoyaltyAmount"]|number:0}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="singleTransaction">
            <div class="row transaction-list-bold row-center" ng-click="toggleTransaction(transaction)">
                <div class="col col-center">
                    <p ng-if="!transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']['types.BookingDate']">{{transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']['types.AddDate'] | date:'dd-MM-yyyy'}}</p>
                    <p ng-if="transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']['types.BookingDate']">{{transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']['types.BookingDate'] | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col detail">
                    <p>{{transaction['extint.AccountTransactionEvent']['types.Partner']['types.PartnerDisplayName']}}</p>
                </div>

                <div class="col col-center">
                    <p ng-class="{'points-green':transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']['displayColor']=='G','points-red':transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']['displayColor']=='R'}"><strong>{{transaction['extint.AccountTransactionEvent']["types.AccountTransactionDetails"]["types.Value"]["types.LoyaltyAmount"]|number:0}}&deg;P</strong></p>
                    <span class="ion-arrow-right-b transaction-details-icon" ng-if="!isTransactionShown(transaction)"></span>
                    <span class="ion-arrow-down-b transaction-details-icon" ng-if="isTransactionShown(transaction)"></span>
                </div>
            </div>
            <div class="row transaction-details-strip" ng-show="isTransactionShown(transaction)">
                <div class="transaction-details">
                    Partner Name : {{transaction['extint.AccountTransactionEvent']['types.Partner']['types.PartnerDisplayName']}}<br>
                    Transaction Number : {{transaction['extint.AccountTransactionEvent']['types.ReceiptNumber']}}<br>
                    Transaction Type : {{transaction['extint.AccountTransactionEvent']['types.AccountTransactionDetails']["types.Description"]}}<br>
                    Points : {{transaction['extint.AccountTransactionEvent']["types.AccountTransactionDetails"]["types.Value"]["types.LoyaltyAmount"]|number:0}}
                </div>
            </div>
        </div>
        <ion-infinite-scroll
          ng-if="!loadMore"
          icon="ion-loading-c"
          on-infinite="transactionDetails()" distance="10%">
        </ion-infinite-scroll>
        <div ng-if="noMoreTransactions">
            <center style="padding:5px;color:b2b2b2">All Transactions Listed.</center>
        </div>
        <div ng-if="noTransactions">
        	<center style="padding:5px;color:b2b2b2">No Transactions Done</center>
        </div>
</div>

</div>

           
       

        </ion-content>


