









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="section homesearchbox">






<a ng-click="redirectFromSearchBox()">
    <div class="list list-inset homesearchbox" ng-class="{'homebox-top-spacing':pageName == 'home'}">
        <label class="item item-input product-detail-search ios-home-product-detail-search">
            <input type="text" placeholder="Search for Product or Brand" class="product-detail-input" readonly="true">
            <i class="icon ion-search placeholder-icon"></i>
        </label>
    </div>
</a></div>
<div class="productcouponsdetails section">






<div class="list">
    <a class="item item-thumbnail-left product-list" href="#">
        <img src="{{productImageCoupons}}">
        <h2>{{productNameCoupons}}</h2>
        <p>&#8377 {{productPriceCoupons}}</p>
    </a>
</div>

<!--Only partner coupons displayed when only payback coupons success -->
  <div class="row" ng-if="showPaybackCoupons && !paybackCouponError" ng-repeat="cols in couponRows">
     <div class="card coupons-size partner-coupon col"  ng-repeat = "col in cols">
      <div class="coupons-list-header">
        <img src="{{productStoreLogo}}" width="100" height="50" alt="brands">
      </div>

      <div class="coupons-container" >
          <p class="coupons-font">{{col['storeCouponTitle']}}</p>
      </div>
        <button class="log coupons-button" id="copy" name="copy" ng-click="copyCode('{{col['landingUrl']}}','{{col['storeCouponscode']}}')">Copy Code &amp; Shop Now</button>
		<center class="coupons-expiring red-text">Valid till {{col['storeCouponExpiry'] |  date:dd-MM-yy}}</center>
    </div>


  </div> <!--end of row-->



<!--Only partner coupons displayed when only payback coupons call error -->
 <div class="row" ng-if="showPaybackCoupons && paybackCouponError" ng-repeat="cols in couponRows">
     <div class="card coupons-size partner-coupon col"  ng-repeat = "col in cols">
      <div class="coupons-list-header">
        <img src="{{productStoreLogo}}" width="100" height="50" alt="brands">
      </div>

      <div class="coupons-container" >
          <p class="coupons-font">{{col['storeCouponTitle']}}</p>
      </div>
         <button class="log coupons-button" id="copy" name="copy" ng-click="copyCode('{{col['landingUrl']}}','{{col['storeCouponscode']}}')">Copy Code &amp; Shop Now</button>
     	  <center class="coupons-expiring red-text">Valid till {{col['storeCouponExpiry'] | date:dd-MM-yy}}</center>
    </div>


  </div> <!--end of row-->

<!-- Only Payback coupons single coupon -->

<div ng-if="showPaybackCoupons && !paybackCouponError">

    <div class="row" ng-repeat="cols in couponPaybackRows" ng-if="!singleCoupons">
    
        <div class="card coupons-card coupons-size col" ng-repeat = "col in cols" ng-class="{'active-coupon':CouponResponse['extint.Coupon']['types.CouponStatus'] == '2','inactive-coupon':CouponResponse['extint.Coupon']['types.CouponStatus'] == '1'}">
            <img src="../../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/special_coupon.png" class="special" width="65" height="65" ng-if="col['isSpecialCoupon'] == 'true' && !appExports"/>
            <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/special_coupon.png" class="special" width="65" height="65" ng-if="col['isSpecialCoupon'] == 'true' && appExports"/>
            <div class="col90 coupons-list-header" ng-click="showCouponDetails({{col['count']}})">
                <img ng-src="{{couponsServerUrl}}{{col['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports"/>
                <img ng-src="{{couponsServerUrl}}{{col['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports"/>
            </div>
            <div class="coupons-container" ng-click="showCouponDetails({{col['count']}})">
                <p class="coupons-font">{{col['extint.Coupon']['DisplayTexts']['treatmentHeadLine']}}</p>
                <p>{{col['extint.Coupon']['DisplayTexts']['treatmentSubline']}}</p>
            </div>
            <button class="log coupons-button" ng-click="activateCoupons(col)" ng-if="col['extint.Coupon']['types.CouponStatus'] == '1'">ACTIVATE</button>
            <button class="log coupons-button" ng-click='shopNow(col)' ng-if="col['extint.Coupon']['types.CouponStatus'] == '2' && !col['hasButtonText']">SHOP NOW</button>
            <button class="log coupons-button" ng-click='shopNow(col)' ng-if="col['extint.Coupon']['types.CouponStatus'] == '2' && col['hasButtonText']">{{col['buttonText']}}</button>
			<center class="coupons-expiring red-text">Valid till {{col['extint.Coupon']['types.Validity']['types.ValidTo'] | date:dd-MM-yy}}</center>
        </div>
    </div>

    <div ng-if="singleCoupons">

    <div class="row" >
        <div class="card coupons-card coupons-size col" ng-class="{'active-coupon':CouponResponse['extint.Coupon']['types.CouponStatus'] == '2','inactive-coupon':CouponResponse['extint.Coupon']['types.CouponStatus'] == '1'}">
            <img src="../../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/special_coupon.png" class="special" width="65" height="65" ng-if="CouponResponse['isSpecialCoupon'] == 'true' && !appExports"/>
            <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/special_coupon.png" class="special" width="65" height="65" ng-if="CouponResponse['isSpecialCoupon'] == 'true' && appExports"/>
            <div class="col90 coupons-list-header" ng-click="showCouponDetails(0)">
                <img ng-src="{{couponsServerUrl}}{{CouponResponse['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports"/>
                <img ng-src="{{couponsServerUrl}}{{CouponResponse['extint.Coupon']['types.Partner']['types.PartnerLogoUrl']}}" width="100" height="50" alt="brands" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports"/>
            </div>
            <div class="coupons-container" ng-click="showCouponDetails(0)">
                <p class="coupons-font">{{CouponResponse['extint.Coupon']['DisplayTexts']['treatmentHeadLine']}}</p>
                <p>{{col['extint.Coupon']['DisplayTexts']['treatmentSubline']}}</p>
                <center class="coupons-expiring red-text">Valid till {{CouponResponse['extint.Coupon']['types.Validity']['types.ValidTo'] | date:dd-MM-yy}}</center>
            </div>
            <button class="log coupons-button" ng-click="activateCoupons(CouponResponse)" ng-if="CouponResponse['extint.Coupon']['types.CouponStatus'] == '1'">ACTIVATE</button>
            <button class="log coupons-button" ng-click='shopNow(CouponResponse)' ng-if="CouponResponse['extint.Coupon']['types.CouponStatus'] == '2' && !col['hasButtonText']">SHOP NOW</button>
            <button class="log coupons-button" ng-click='shopNow(CouponResponse)' ng-if="CouponResponse['extint.Coupon']['types.CouponStatus'] == '2' && col['hasButtonText']">{{CouponResponse['buttonText']}}</button>

        </div>
    </div>


     </div>

</div>



</div>

</div>

           
       

        </ion-content>


