









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="section homesearchbox">






<a ng-click="redirectFromSearchBox()">
    <div class="list list-inset homesearchbox" ng-class="{'homebox-top-spacing':pageName == 'home'}">
        <label class="item item-input product-detail-search ios-home-product-detail-search">
            <input type="text" placeholder="Search for Product or Brand" class="product-detail-input" readonly="true">
            <i class="icon ion-search placeholder-icon"></i>
        </label>
    </div>
</a></div>
<div class="section productdetails">






<div class="row">
	<div class="col product-spec-wrapper">
		<h4>{{productData['metaInfo']['title']}}</h4>
		<div class="col">
			<img src="{{productData['metaInfo']['img']}}" class="headeLogoClass" imageonload>
			<img src="../../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="!appExports">
			<img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/imageLoadingSmall.png" ng-if="appExports">
		</div>
	</div>
</div>

<tab-slide-box tab="0">
<div class="tsb-icons">
	<div class="tsb-ic-wrp">
		<a href="javascript:;" class="product-tab">Compare Prices</a> <a href="javascript:;" class="product-tab" id="specificationTab">Specification</a>
	</div>
</div>
<ion-slide-box show-pager="false"
	on-slide-changed="slideHasChanged($index);getProductDetails()"> <ion-slide>
<div class="row comparison-header">
	<div class="col col-center">
        <p><strong>Store Name</strong></p>
	</div>
	<div class="col col-center">
        <p><strong>Price</strong></p>
	</div>
	<div class="col col-center">
        <p><strong>Coupon</strong></p>
	</div>
	<div class="col col-center">
        <p><strong>Shop Now</strong></p>
	</div>
</div>
<ion-list class="specs-header">

<div ng-model="collapsed"
	ng-click="redirectToCouponsDetails(product)"
	ng-repeat="product in productData['results']" ng-class-odd="'row transaction-list-bold row-center product-details-list'"
    ng-class-even="'row transaction-list-light row-center product-details-list'">
	<div class="col col-center date-wrapper">
<img ng-src="{{product['store_logo']}}" width="100" height="35" alt="{{product['pbstore_data']['PartnerDisplayName']}}" onerror="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="!appExports"/>
		<img ng-src="{{product['store_logo']}}" width="100" height="35" alt="{{product['pbstore_data']['PartnerDisplayName']}}" onerror="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/no_image1.png';" ng-if="appExports"/>
	</div>
	<div class="col pro-price">
		<p>&#8377 {{product['finalPrice']}}</p>
        <p class="pb-color"><strong ng-bind-html="product['pbstore_data']['pointText'] | rawHtml"></strong></p>
	</div>
	<div class="col">
		<div class="col">
			<img src="../../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/coupons_icon1.png" width="30" height="30" data-ng-show="couponStatus(product)" ng-if="!appExports">
				
			<img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/coupons_icon1.png" width="30" height="30" data-ng-show="couponStatus(product)" ng-if="appExports">	
		</div>
	</div>
	<div class="col col-center">
		<span class="ion-chevron-right specs-icon"></span>
		<!--  <span class="ion-arrow-down-b member-arrow-down" ng-if="!old.show"></span> -->
	</div>
</div>
<ion-list></ion-slide> <ion-slide>
<table style="width: 100%" class="spec-table">
	<tr>
		<th style="text-align: left; width: 30%;"><strong>General features</strong></th>
	</tr>
	<tr ng-repeat="cols in productSpecificationData">
        <td >{{cols['name']}}</td>
        <td >{{cols['value']}}</td>

	</tr>

</table>

</ion-slide> </ion-slide-box> </tab-slide-box></div>

</div>

           
       

        </ion-content>


