<p class="strip {{headingtitlealignment}}" style="background-color:#{{headingstripcolor}}" ng-if="heading != ''">
    <strong style="color:#{{headingtitlecolor}};font-family:{{headingtitlefont}}">{{heading}}</strong>
</p>
<div class="carouselWrapper">
    <slick arrows=false dots=true autoplay={{autoplaycarousel}} init-onload=true data="carouselArray['carousel']['carouselItemArray']">
        <div class="carosel-one" ng-repeat="carouselImage in carouselArray['carousel']['carouselItemArray']">
            <img src="{{carouselImage['bannerImagePath']}}" ng-click="redirectionCarousel('{{carouselImage['isExternal']}}','{{carouselImage['buttonPath']}}','{{carouselImage['weakLoginRequired']}}','{{carouselImage['isSmartSaver']}}')" ng-if="!carouselServer && carouselImage['buttonPath']" class="full-image cat headeLogoClass" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img src="{{carouselServer}}{{carouselImage['bannerImagePath']}}" ng-click="redirectionCarousel('{{carouselImage['isExternal']}}','{{carouselImage['buttonPath']}}','{{carouselImage['weakLoginRequired']}}','{{carouselImage['isSmartSaver']}}')" ng-if="carouselServer && carouselImage['buttonPath']" class="full-image cat headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img src="{{carouselImage['bannerImagePath']}}"  ng-if="!carouselServer && !carouselImage['buttonPath']" class="full-image cat headeLogoClass" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img src="{{carouselServer}}{{carouselImage['bannerImagePath']}}" ng-if="carouselServer && !carouselImage['buttonPath']" class="full-image cat headeLogoClass" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/poster1.jpg';" imageonload/>
            <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/carousel_bg.png" ng-if="appExports">
            <img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/carousel_bg.png" ng-if="!appExports">
        </div>
    </slick>
</div>