<div class="main-carousel-wrapper">
    <slick arrows=false dots=true autoplay={{autoplaymaincarousel}} init-onload=true data="carouselRespVar['carouselSlides']">
        <div class="carosel-one" ng-repeat="objVal in carouselRespVar['carouselSlides']">
            <div class="col text-center">
                <img ng-src="{{carouselRespVar['shopOnlineDomain']}}/images/paybacknew/carousel/{{objVal['main_image']}}" ng-click="redirectToWebSites('{{objVal['main_landing_url']}}','{{mainweakloginrequired}}')" class="headeLogoClass" onError="this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/carousel_bg.png'" imageonload>
                <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/carousel_bg.png" ng-if="appExports">
                <img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/carousel_bg.png" ng-if="!appExports">
            </div>
        </div>
    </slick>
</div>
