









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="mobilelinking section">








    <div class="">
        <div class="">
            <div class="pb-input-wrapper form-style-3 form-change-pin">
                <form id="mobileLinkingForm" name="mobileLinkingForm" novalidate>
                    <div><span  class="linking-number">Mobile Number<span class="required">*</span></span>
                        <input type="tel" class="pin" pattern="[0-9]*" inputmode="numeric" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" ng-keyup="checkLen(linkedMobileNumber)" ng-model="linkedMobileNumber" maxlength="10" name="mobileNum" id="mobileNum" />
                        <div id="mobileNumError" for="mobileNum" class="error" style="display: none;">Invalid mobile number!</div>
                        <div id="mobileNumLinkedError" for="mobileNum" class="error" style="display: none;">Mobile number is already linked!</div>
                    </div>
                    <div ng-show="showOtp">
                        <span class="linking-number">One Time Password<span class="required">*</span></span>
                        <input type="password" class="pin linking-pin" pattern="[0-9]*" inputmode="numeric" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" maxlength="6" name="otp" id="otp"/>
                        <button class="log link-btn" type="button" ng-click="mobileLinkingValidation()">SUBMIT</button>
                    </div>
                    <button class="home-login button button-block button-positive" type="button" ng-click="mobileNumberValidation()" ng-show="!showOtp">SUBMIT</button>
                </form>
            </div><!--end of login-wrapper-->
        </div>
    </div><!--end of card--></div>

</div>

           
       

        </ion-content>


