









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="getmember section">







    <div class="card">
        <div class="item item-text-wrap pb-card">
            <div class="pb-card-wrapper">
                <p><strong>PAYBACK NO.:</strong> {{response["CardNumber"]}}</p>
                <p><strong>NAME:</strong> {{response["extint.MasterInfo"]["types.FirstName"]}} {{response["extint.MasterInfo"]["types.LastName"]}}</p>
                <p style="display:none;"><strong>DOB:</strong> {{dob | date:'dd-MM-yyyy'}}</p>
            </div>
        </div>
    </div>
    <div class="">
        <div class="pb-address">
            <div class="form-style-3 pb-input-wrapper">
                <form name="getmember" id="getMemberForm" novalidate>
                    <div><span>Salutation<span class="required">*</span></span>
                        <div id="updateRadioValue">
                            <input type="radio" class="pb-address-input pb-salute" name="title" value="Mr" ng-model="salutation" checked="checked">Mr
                            <input type="radio" class="pb-address-input" name="title" value="Mrs" ng-model="salutation">Mrs
                            <input type="radio" class="pb-address-input" name="title" id="updateTitle" value="Ms" ng-model="salutation">Ms
                        </div>
                    </div>
                    <label for="email"><span>Email-Id<span class="required">*</span></span>
                        <input type="email" placeholder="EMAIL-ID" class="input-field" ng-model="email" name="email" id="email"/>
                    </label>
                    <label for="addressone"><span>Flat/ House No<span class="required">*</span></span>
                        <input type="text" placeholder="Flat/ House No" class="input-field" name="addressone" ng-model="addressone" id="addressone" maxlength="55"/>
                    </label>
                    <label for="addresstwo"><span>Society/Street Name</span>
                        <input type="text" placeholder="Society/Street Name" class="input-field" ng-model="addresstwo" name="addresstwo" id="addresstwo" maxlength="55"/>
                    </label>
                    <label for="addressthree"><span>Landmark</span>
                        <input type="text" placeholder="Landmark" class="input-field" ng-model="addressthree" name="addressthree" id="addressthree" maxlength="55"/>
                    </label>
                    <label for="state"><span>State <span class="required">*</span></span>
                        <select id="state" placeholder="STATE" class= "input-field form-control state" ng-model="state" name="state" ng-change="getCities(state);"></select>
                    </label>
                    <label for="city"><span>City <span class="required">*</span></span>
                        <select id="city" placeholder="CITY" ng-model="city" name="city" class="input-field form-control city"></select>
                     </label>

                    <label for="pincode"><span>Pincode <span class="required">*</span></span>
                        <input type="tel" placeholder="PIN CODE" class="input-field" ng-model="pincode" name="pincode" id="pincode" maxlength="6" ng-maxlength="6" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')"/>
                    </label>
                </form>
            </div>
            <div class="row pb-address-header">
                <button class="home-login button button-block button-positive" ng-click="getMemberValidation()">UPDATE</button>
            </div>
        </div>
    </div></div>

</div>

           
       

        </ion-content>


