<div class="row" ng-repeat="cols in rows">
    <div class="item col-50 hotdeals-item" ui-sref="pro-coupons" ng-repeat = "col in cols">
        <div class='shop-desc-wrap' ng-click="goToProductSite('{{col['id']}}','{{col['url']}}','{{col['title'] | escapeTitle}}','{{col['img']}}','{{col['origPrice']}}','{{col['finalPrice']}}','{{col['pbstore_data']['pointText'] | escapePointText}}','{{col['numTotalStores']}}')">
            <div class="filter-points">
                <p><strong>{{col['numTotalStores']}}</strong>Sellers</p>
            </div>
            <div class="responsive-container">
                <div class="dummy"></div>
                <div class="filter-img-wrap img-container">
                    <img image-lazy-src="{{col['img']}}" image-lazy-loader="android" alt="Cant Dispaly" onError="this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png'">
                </div>
            </div>
            <div class="filter-desc">
                <ul class="shop-detail-wrap">
                    <li class="shop-prod-title">
                        <h4><strong>{{col['title']}}</strong></h4>
                    </li>
                    <li>
                        <strong><strike>Rs.{{col['origPrice']}}</strike>({{discountValue(col['origPrice'],col['finalPrice'])}}% off)</strong>
                    </li>
                    <li>
                        <h3 class='red-text'>
                            <strong>Rs.{{col['finalPrice']}}</strong>
                        </h3>
                    </li>
                    <li>
                        <strong><span ng-bind-html="col['pbstore_data']['pointText'] | pointText"></span></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>