









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="popularstores section">









<popularstore  viewType="Grid View"
    url="/payback/anon/shoponline.html/homepage.store.json"
    popularheadingtitlecolor=""
    popularheadingtitlefont=""
    popularheadingtitlealignment="text-left"
    popularheadingstripcolor=""
    ng-if="!popularShowNetwork"
    componenttitle=""
    viewalllink=""
    popstoresweakloginrequired="true">
</popularstore >


</div>

</div>

           
       

        </ion-content>


