
<div class="offer-strip-wrap" ng-if="componenttitle != ''">
    <p class="strip {{popularheadingtitlealignment}}" style="background-color:#{{popularheadingstripcolor}}">
        <strong class="ng-binding" style="color:#{{popularheadingtitlecolor}};font-family:{{popularheadingtitlefont}}">{{componenttitle}}</strong>
        <span ng-if="viewtype == 'Carousel View' && viewalllink !='' && popularheadingtitlealignment !='text-right'">
            <strong ng-click="popularGo('{{viewalllink}}')" style="color:#{{popularheadingtitlecolor}};font-family:{{popularheadingtitlefont}}">View all</strong>
        </span>
    </p>
</div>
<div class='carouselWrapper'>
    <slick arrows=false dots=true  lazyLoad="ondemand" init-onload=true data="finalPopularRows">
        <div class='carosel-one' ng-repeat="popularcols in finalPopularRows">

            <div class='row' ng-repeat="popularcol in popularcols">
                <div class='col col-50 text-center' ng-repeat="col in popularcol">
                    <img data-lazy="{{col['storeLogo']}}" ng-click="redirectToPopularStores('{{col['storeUrl']}}','{{popstoresweakloginrequired}}')" onError='this.src=&#39;/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png&#39;&#59;this.style.opacity=&#39;1&#39;' ng-if="!popularURl"/>
                    <img data-lazy="{{col['storeLogo']}}" ng-click="redirectToPopularStores('{{col['storeUrl']}}','{{popstoresweakloginrequired}}')" onError='this.src=&#39;../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/placeholder.png&#39;&#59;this.style.opacity=&#39;1&#39;' ng-if="popularURl"/>
                </div>
            </div>

        </div>
    </slick>
</div>





