









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="carousel section">






<paybackcarousel dynamicid="5280" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment=""
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel.5280.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Offer/jcr:content/content-par/carousel">
</paybackcarousel>
</div>
<div class="carousel section">






<paybackcarousel dynamicid="1329" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_0.1329.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Offer/jcr:content/content-par/carousel_0">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="3490" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment=""
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.3490.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/Offer/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>

           
       

        </ion-content>


