










    

    
<ion-content class="carousel-header has-footer scroll-content {{contentWrapper}}  ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>

    <div class="content-par parsys"><div class="section homesearchbox">






<a ng-click="redirectFromSearchBox()">
    <div class="list list-inset homesearchbox" ng-class="{'homebox-top-spacing':pageName == 'home'}">
        <label class="item item-input product-detail-search ios-home-product-detail-search">
            <input type="text" placeholder="Search for Product or Brand" class="product-detail-input" readonly="true">
            <i class="icon ion-search placeholder-icon"></i>
        </label>
    </div>
</a></div>
<div class="app">
        <div id="unomerBox" style="display: none;">
            <button id="unomerButton" ng-click="unomerbuttonListener()" type="button" style="background: url('images/NotificationBanner.png')  no-repeat center center fixed;background-size:cover;width: 100%;height: 180px;margin-top: 10px;" value="fetch"></button>
        </div>
</div>
<div class="carousel section">






<paybackcarousel dynamicid="8041" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel="true"
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_0.8041.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/jcr:content/content-par/carousel_0">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="3209" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems="grid-item-four"
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.3209.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="9385" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems="grid-item-four"
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.9385.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="carousel section">






<paybackcarousel dynamicid="5134" heading=""
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel="true"
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel.5134.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/jcr:content/content-par/carousel">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="4941" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems="grid-item-two"
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_2.4941.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/jcr:content/content-par/gridcarousel_2"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>


    </ion-content>
    


