









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="carousel section">






<paybackcarousel dynamicid="1277" heading=" "
    headingtitlecolor=""
    headingtitlefont=""
    autoplaycarousel=""
    headingtitlealignment="text-left"
    headingstripcolor=""
    url="/payback/anon/utils.html/carousel/config.content_par_carousel_0.1277.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/coupons/jcr:content/content-par/carousel_0">
</paybackcarousel>
</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="5439" enableNotifsScreen=""
    gridCarouselHeading=""
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel.5439.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/coupons/jcr:content/content-par/gridcarousel"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>
<div class="gridcarousel section">





	







<paybackgridcarousel griddynamicid="7319" enableNotifsScreen=""
    gridCarouselHeading="Flipkart Offers"
    gridheadingtitlecolor=""
    gridheadingtitlefont=""
    gridnumofitems=""
    gridheadingtitlealignment="text-left"
    gridheadingstripcolor=""
    url="/payback/anon/utils.html/gridcarousel/config.content_par_gridcarousel_0.7319.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/coupons/jcr:content/content-par/gridcarousel_0"
    appExports ="{{appExports}}">
</paybackgridcarousel>


</div>

</div>

           
       

        </ion-content>


