









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="section userblock">









    <div class="card">
        <div class="item item-text-wrap balance">
          <p class="balance-align-left">TOTAL POINTS</p>
          <p class="balance-align-right"><strong>{{accountBalance["extint.AccountBalanceDetails"]["types.TotalPointsAmount"]|number:0}}&deg;P</strong></p>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap balance">
          <p class="balance-align-left">POINTS IN PROCESS</p>
            <p class="balance-align-right"><strong>{{accountBalance["extint.AccountBalanceDetails"]["types.BlockedPointsAmount"]|number:0}}&deg;P</strong></p>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap balance">
          <p class="balance-align-left">REDEEMABLE POINTS</p>
            <p class="balance-align-right balance-redeem"><strong>{{accountBalance["extint.AccountBalanceDetails"]["types.AvailablePointsAmount"]|number:0}}&deg;P</strong></p>
        </div>
    </div>

    <center>
        <strong class="points-valid">POINTS VALIDITY</strong>
    </center>

    <div class="card points-validity">
        <div class="item item-text-wrap balance">
            <p class="balance-align-left">POINTS EXPIRING</p>
            <p class="balance-align-right balance-expiring"><strong>{{accountBalance["extint.AccountBalanceDetails"]["types.ExpiryAnnouncement"]["types.PointsToExpireAmount"]|number:0}}&deg;P</strong></p><br>
            <p class="balance-align-left">FROM</p>
            <p class="balance-date"><strong>{{accountBalance["extint.AccountBalanceDetails"]["types.ExpiryAnnouncement"]["types.NextExpiryDate"]|date : 'dd-MM-yyyy'}}</strong></p>
        </div>
    </div>
</div>

</div>

           
       

        </ion-content>


