









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="staticblock section">






<dir id="dir" class="static-content-header" content="decodedHtml" style="padding:0" ng-if="angularPageTitle != 'Error'"></dir>
<dir id="dir" content="decodedHtml" style="padding:0" ng-if="angularPageTitle == 'Error'"></dir>
</div>
<div class="section hotdealscarousel">






<shoponlinecarousel dynamicId="9111"
    shopheadingtitlecolor=""
    shopheadingtitlefont=""
    shopheadingtitlealignment=""
    shopheadingstripcolor=""
    carouselType="featuredBooks"
    viewType="Grid view"
    url="/payback/anon/shoponline.html/carousels.9111Grid viewFeatured ProductsfeaturedBooks.json"
    resourcePath="/content/phonegap/payback/apps/payback/en/home/shop/jcr:content/content-par/hotdealscarousel"
    viewAllItems=""
    pageTitle="Featured Products"
    appExports ="{{appExports}}">
</shoponlinecarousel></div>

</div>

           
       

        </ion-content>


