









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
               <ion-content class="carousel-header has-footer  {{contentWrapper}} {{shopOnline}}  {{ionContentClass}}" has-bouncing="false" padding="true" scroll="false" lazy-scroll>
               <div class="content-par parsys"><div class="socialblock section">






<div class="social-content">
    <a href="javascript:void(0)" ng-click="facebookGo()" class="row">
        <div class="card social-container1" >
            <div class="social-wrapper">
                <img src="../../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/facebook_logo.png" width="150" height="50" alt="facebook" ng-if="!appExports">
                <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/facebook_logo.png" width="150" height="50" alt="facebook" ng-if="appExports">
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" class="row" ng-click="ratePayback()">
        <div class="rating">
            <div class="col">
                <span class="ion-android-star"></span>
                <span class="ion-android-star"></span>
                <span class="ion-android-star"></span>
                <span class="ion-android-star"></span>
                <span class="ion-android-star"></span>
            </div>
        <center>Rate the App</center>
        </div>
    </a>
    <a href="javascript:void(0)" class="row">
        <div class="rating" ng-click="shareAnywhere()">
            <div class="col">
                <span class="ion-android-share-alt"></span>
            </div>
        <center>Share the App</center>
        </div>
    </a>
</div></div>

</div>

           
           
           
           
       

        </ion-content>


