









    <ion-header-bar  class="{{shopOnlineClass}}" dynamic="shopOnlineTitle" ng-if="shopOnlinePage == 'true'">

    </ion-header-bar>



    
        <ion-header-bar  class="{{headerClass}}" dynamic="headerHtml" ng-if="(headerHtml != '' && shopOnlinePage != 'true') || angularPageTitle == 'Home'" >

        </ion-header-bar>
         <div class="row transaction-header" ng-if="isTransaction =='true'" ng-bind-html= "transactionStrip" >

        </div>
    

    

       
           
           
           
           
           
                <ion-content class="carousel-header has-footer scroll-content {{contentWrapper}} {{shopOnline}} ionic-scroll {{ionContentClass}}" has-bouncing="false" padding="true" scroll="{{ion}}" lazy-scroll>
                <div class="content-par parsys"><div class="changepin section">







    <div class="">
        <div class="">
            <div class="pb-input-wrapper form-style-3 form-change-pin">
                <form id="changePinForm" name="changepinform" novalidate>
                    <div><span>Old PIN<span class="required">*</span></span>
                        <input type="password" class="pin" pattern="[0-9]*" inputmode="numeric" onkeyup="return isNumberKey(event,this)" maxlength="4" name="pin5" id="5" ng-model="oldpin1" onfocus="keyFocus()" onblur="keyBlur()"/>
                    </div>

                    <div><span>New PIN<span class="required">*</span></span>
                        <input type="password" class="pin" pattern="[0-9]*" inputmode="numeric" onkeyup="return isNumberKey(event,this)" maxlength="4" name="pin9" id="9" ng-model="oldpin5" onfocus="keyFocus()" onblur="keyBlur()"/>
                    </div>

                    <div><span>Confirm PIN<span class="required">*</span></span>
                        <input type="password" class="pin" pattern="[0-9]*" inputmode="numeric" onkeyup="return isNumberKey(event,this)" maxlength="4" name="pin13" id="13" ng-model="oldpin9" onfocus="keyFocus()" onblur="keyBlur()"/>
                    </div>
                    <button class="home-login button button-block button-positive" type="button" ng-click="changePinValidation()">SUBMIT</button>
                </form>
            </div><!--end of login-wrapper-->
        </div>
    </div><!--end of card-->

<script id="changePinerrorPopUp" type="text/ng-template">
    <div class="warning">
        <div class="warning-header">
            <span class="ion-alert-circled alert"><strong>&nbsp;Error</strong></span>
            <span class="ion-close-circled warning-logo" ng-click="errorclosePop()"></span>
        </div>
            <p>{{changePinerrorMsg}}</p>
            <hr>
        <div class="alert-btn-container">
            <button class="home-login button button-block button-positive alert-btn" ng-click="errorclosePop()">CLOSE</button>
        </div>
    </div>
</script>
</div>

</div>

           
       

        </ion-content>


