





<!DOCTYPE html>
<html ng-app="PaybackApp">
    





<head>
 




    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width" />



    <title>Home</title>


   <script type="text/javascript">
   	var isAuthor = "false";
   	localStorage.setItem("isAuthor",isAuthor);
   </script>

    





<link rel="stylesheet" href="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall.css" type="text/css">

	<script src="https://maps.googleapis.com/maps/api/js?region=IN" type="text/javascript"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>


   <script type="text/javascript" src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/clientlib.js"></script>


    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <!--
   <script src="http://smartsaver.in/smart_saver_web/app/webroot/js/jquery.form.min.js"></script>
   <script src="http://smartsaver.in/smart_saver_web/app/webroot/js/jquery.noty.js"></script>
   <script src="http://smartsaver.in/smart_saver_web/app/webroot/js/bootstrap.js"></script>
   <script src="http://smartsaver.in/smart_saver_web/app/webroot/js/modern-business.js"></script>
   -->
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>





   

</head>
    





<body ng-controller="AppController">
    <div id="appWrap" ng-controller="AppNavigationController" ng-cloak ng-class="{'active': navigationMenuStatus}">


        
            
            

                <ion-side-menus enable-menu-with-back-views="false">
                    







<div class="headerpar header">










     








<ion-header-bar class="ios-header">
    <div class="buttons buttons-left header-item col-33" style="">
        <span class="left-buttons" ng-click="toggleLeftSideMenu()">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
        </span>
        <div class="text-right" ng-click="back()" ng-show="showBack" menu-close>
            <button class="button button-icon ion-chevron-left" ng-class="headeLogoClass"></button>
        </div>
    </div>

    <div class="col  logo-wrapper" menu-close>
        <img class="paybacklogo" id="pb-logo" ng-click="go('/content/phonegap/payback/apps/payback/en/home')">

    </div>

    <div class="col-33 text-center">
        <div id="points" ng-show="pointstatus" ng-click="!getStrongTokenValue()"><p class="my-points">{{textBeforeName}} {{userfirstname}} {{textAfterName}} </p><p style="cursor:pointer;"><strong>{{balance|number:0}} {{textAfterPoints}}</strong> </p></div>
    </div>

</ion-header-bar>

  <!--end of row-->

         <script id="my-popover" type="text/ng-template">
           <ion-popover-view class="scroll-pop fit">
            <div class="filter-arrow-down"><span class="ion-arrow-down-b"></span></div>
                 <div class="list pb-list">
                    <a href="javaScript:void(0)" class="item item-divider"  ng-repeat="item in headerResponse" >
                 	<div ng-click="disableIt(item)" ng-if="item.isHelp == 'no' || item.isHelp == ''">
						<span ><img src="{{item.itemIcon}}" class="pop-icons"></span>
                 		<p><strong>{{item.itemText}}</strong></p>
                    </div>
					<div ng-click="showHelp()" ng-if="item.isHelp == 'yes'">

						<span ><img src="{{item.helpImagePath}}" class="pop-icons" ng-if="!appExports" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/icon_colour5.png';"></span>
                        <span ><img src="{{headerServerUrl}}{{item.helpImagePath}}" class="pop-icons" ng-if="appExports" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/icon_colour5.png';"></span>

                 		<p><strong>{{item.itemText}}</strong></p>
                    </div>
					</a>

					<!-- <a href="javaScript:void(0)" class="item item-divider" ng-click="goPartnerSite('smartSaver')" >
                        <p><strong>Smart Saver</strong></p>
                    </a> -->
                    <!--
                    <a href="javaScript:void(0)" class="item item-divider" ng-click="goPartnerSite('markelytics')" >
                        <p><strong>Markelytics</strong></p>
                    </a>
		            <a href="javaScript:void(0)" class="item item-divider" ng-click="goPartnerSite('moneyMarket')" >
                        <p><strong>Money Mart</strong></p>
                    </a>
                    -->
                    <!--
					<a href="javaScript:void(0)" class="item item-divider" ng-click="updateApp($event)" >
                        <span >
						<img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/update_app_icon.png" class="pop-icons" ng-if="!appExports">
						<img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/update_app_icon.png" class="pop-icons" ng-if="appExports">
						</span>
                        <p><strong>UPDATE APP</strong></p>
                    </a>
                    -->
                    <a href="javaScript:void(0)" class="item item-divider" ng-click="logout()" ng-show="!loginstatus">
                        <span >
						<img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/logout_icon.png" class="pop-icons" ng-if="!appExports">
						<img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/logout_icon.png" class="pop-icons" ng-if="appExports">
						</span>
                        <p><strong>LOGOUT</strong></p>
                    </a>
                 </div>
        </ion-popover-view>
		</script>

<script id="loginpopup" type="text/ng-template">
<div class="user-login"  >
      <form name="strongloginForm" id="loginForm" novalidate>
        <div class="user-login-header">
          <p><strong>LOGIN</strong></p>
          <span class="ion-close-circled user-login-logo" ng-click="closePop()"></span>
        </div>
          <div class="item-text-wrap">
            <p>PAYBACK Card No. / Mobile No.</p>
            <input type="tel" class="pin-card" id="strongcardNumber" name="phonenumber" ng-model="cardNumber" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" maxlength="16" minlength="10" ng-disabled="isCardNumber()">

               <p class="login-text">Please enter your 4 digit PIN</p>

              <div class="pin-wrapper">
                <input type="password" class="pin" id="1" name="pinone" pattern="[0-9]*" inputmode="numeric" ng-model="pinone" onkeyup="return isNumberKey(event,this)" maxlength="1"/>
                <input type="password" class="pin" id="2" name="pin2" pattern="[0-9]*" inputmode="numeric" ng-model="stronglogin.pin2" onkeyup="return isNumberKey(event,this)" maxlength="1">
                <input type="password" class="pin" id="3" name="pin3" pattern="[0-9]*" inputmode="numeric" ng-model="stronglogin.pin3" onkeyup="return isNumberKey(event,this)" maxlength="1">
                <input type="password" class="pin" id="4" name="pin4" pattern="[0-9]*" inputmode="numeric" ng-model="stronglogin.pin4" onkeyup="return isNumberKey(event,this)" maxlength="1">

			</div>

            <button class="log" type="submit" ng-click="loginValidation()" ng-hide="showButton()">LOGIN</button>
            <center ng-show="showButton()">Signing in...</center>
            <center><a href="javascript:void(0);" class="forgot-pin" ng-click="forgotPassword()">Forgot PIN?</a></center>
             <!--
             <center><a href="javaScript:void(0)" class="forgot-pin" ng-click="go('{{enrollPath}}')">Don't have a PIN?/Enroll</a></center>
             -->
          </div>
      </form>
    </div>


</script>

<script id="weakloginpopup" type="text/ng-template">
<div class="user-login"  >
      <form novalidate name="weakloginForm" id="weekLoginForm" novalidate>
        <div class="user-login-header">
          <p><strong>LOGIN</strong></p>
          <span class="ion-close-circled user-login-logo" ng-click="weakclosePop()"></span>
        </div>
          <div class="item-text-wrap">
          <p>PAYBACK Card No. / Mobile No.</p>
          <input type="tel" class="pin-card" id="weakphonenumber" name="weakphonenumber" ng-model="cardNumber" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" ng-minlength="10" ng-maxlength="16" maxlength="16" required/>

            <button class="log" ng-click="weekLoginValidation() " type="submit" ng-hide="showButtonWeak()">LOGIN</button>
            <center ng-show="showButtonWeak()">Signing in...</center>
          </div>
      </form>
    </div>


</script>

<script id="errorPopUp" type="text/ng-template">
    <div class="warning">
        <div class="warning-header">
            <span class="ion-alert-circled alert"><strong>&nbsp;Error</strong></span>
            <span class="ion-close-circled warning-logo" ng-click="errorclosePop()"></span>
        </div>
            <p id="errorMsg">{{errorMsg}}</p>
            <hr>
        <div class="alert-btn-container">
            <button class="log alert-btn" ng-click="errorclosePop()">CLOSE</button>
        </div>
    </div>
</script>
<script id="successPopUp" type="text/ng-template">
    <div class="warning">
        <div class="warning-header">
            <span class="ion-checkmark-circled alert"><strong>&nbsp;Success</strong></span>
            <span class="ion-close-circled warning-logo" ng-click="successClosePopup()"></span>
        </div>
            <p id="successMsg" ng-bind-html="successMsg"></p>
            <hr>
        <div class="alert-btn-container">
            <button class="log alert-btn" ng-click="successClosePopup()">OK</button>
        </div>
    </div>
</script>
<script id="warningPopUp" type="text/ng-template">
    <div class="warning">
        <div class="warning-header">
            <span class="ion-android-locate alert"><strong>&nbsp;Warning</strong></span>
            <span class="ion-close-circled warning-logo" ng-click="warningClosePopup()"></span>
        </div>
            <p id="warningMsg">{{warningMsg}}</p>
            <hr>
        <div class="alert-btn-container">
            <button class="log alert-btn" ng-click="warningClosePopup()">OK</button>
        </div>
    </div>
</script>

<script id="confirmPopUp" type="text/ng-template">
    <div class="confirm-popup">
        <div class="confirm-popup-head">
            <h4>De-Link Mobile Number</h4>
        </div>
        <div class="confirm-popup-body">
            <span>Are you sure you want to de-link your mobile number?</span>
        </div>
        <div class="confirm-popup-buttons">
            <button  ng-click="confirmClosePopup()" class="button ng-binding button-default" >Cancel</button>
            <button  ng-click="confirmClosePopup();deLinkMobile()" class="button ng-binding button-positive">OK</button>
        </div>
    </div>
</script>

<script id="forcePassPopUp" type="text/ng-template">
    <div class="warning">
        <div class="warning-header">
            <span class="ion-checkmark-circled alert"><strong>&nbsp;Success</strong></span>
            <span class="ion-close-circled warning-logo" ng-click="forcePassClosePopUp()"></span>
        </div>
            <p id="successMsg" ng-bind-html="forcePassMsg"></p>
            <hr>
        <div class="alert-btn-container">
            <button class="log alert-btn" ng-click="forcePassClosePopUp()">OK</button>
        </div>
    </div>
</script>






 



</div>

      
                    <ion-side-menu-content edge-drag-threshold="true" drag-content="false" style="background-color:white;">
                        <div ng-view class="view-animate" ng-class="slide"></div>
                    </ion-side-menu-content>
                    <ion-side-menu class="side-menu" side="left" edge-drag-threshold="true" drag-content="true">
                        <ion-content class="has-header" overflow-scroll = "true" style="height:450px;">
                            <ion-list>
                                <ion-item nav-clear menu-close ng-click="disableIt(menuItem)" ng-repeat="menuItem in leftMenuData"
                                    ng-class="{'active' : menuItem['pageName'] == pageName}" ng-disabled="menuItem['pageName'] == pageName" ng-show="showLeftMenu()">
                                    {{menuItem['pageTitle'] | uppercase}}
                                </ion-item>
                                <ion-item nav-clear menu-close ng-click="showConfirm()" ng-class="{'active' : menuItem['pageName'] == pageName}"
                                    ng-disabled="menuItem['pageName'] == pageName" class="item ng-binding" ng-show="mobileLinked && isUserProfile">
                                    DE-LINK MOBILE NUMBER
                                </ion-item>
                                <v-accordion class="vAccordion--default" ng-show="!showLeftMenu()" ng-if="newHamburgerDesign != 'true'">
                                    <v-pane ng-repeat="(key,val) in categoriesList" ng-if="key != 'shopOnlineDomain'">
                                   <v-pane-header class="firstlevelhead">
                                     <i class="ion-record record-icon"></i>
                                    	<h4 class="sub-one">{{key}}</h4>
                                        </v-pane-header>
                                        <v-pane-content>
                                            <v-accordion ng-if="isObjectVal(val)">
                                                <v-pane ng-repeat="(subkey,subval) in val">
                                                    <v-pane-header class="secondlevelhead">
                                    					<h5 class="sub-two"> {{subkey}}</h5>
                                                    </v-pane-header>
                                                    <v-pane-content>
                                                        <v-accordion ng-if="isObjectVal(subval)">
                                                            <v-pane ng-repeat="(finalkey,finalval) in subval">
                                                                <v-pane-header>
                                                        			<h3>{{finalkey}}</h3>
                                                                </v-pane-header>
                                                            </v-pane>
                                                        </v-accordion>
                                                        <div class="thirdlevel-cat" ng-if="!isObjectVal(subval)"><p ng-repeat="(finalkey,finalval) in subval" ng-if="finalkey != 'branch_id'" ng-click="categoryDisplay(subkey, finalval)" menu-close><a href="">{{finalkey}}<span style="
    float: right;
"><i class="ion-chevron-right"></i></span></a></p></div>
                                                    </v-pane-content>
                                                </v-pane>
                                            </v-accordion>
                                                                    <div class="thirdlevel-cat" ng-if="!isObjectVal(val)"><p ng-repeat="(subkey,subval) in val" ng-if="subkey != 'branch_id'" ng-click="categoryDisplay(key, subval)" menu-close><a href="">{{subkey}}<span style="
    float: right;
             "><i class="ion-chevron-right"></i></span></a></i></p></div>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>

                                <div ng-click="disableIt(item)" class="hamburger_div" ng-repeat="item in hamburgerResponse" ng-show="!showLeftMenu()" ng-if="newHamburgerDesign == 'true'">
                                    <h4><img class="hamburger_img" src="{{serverUlr}}{{item['itemImage']}}"/>
                                        {{item["itemText"]}}</h4>
                                </div>

                            </ion-list>
                        </ion-content>
                    </ion-side-menu>
                     







<div id="footerContent" class="hide-on-keyboard-open">
<div class="footer footerpar">









	







<ion-footer-bar class="pb-footer" menu-close>
	<div class="col col-center coupon-wrapper" ng-repeat="item in footerResponseData" ng-click="disableIt(item)" ng-class="{'footer-active':currentpagePath==item.itemPath || parentPagePath==item.itemPath }" ng-if="(item.isSmartSaver == 'no' || item.isSmartSaver == '')">
		<a href="javaScript:void(0)">
			<div class="coupons">
			    <img src="{{item.itemIcon}}">
			</div>
			<div ng-if="$index == 0">
			    <a href="javascript:void(0);" class="coupon-ovr" ng-if="pointstatus" ng-class="{'coupon-top':$first}">MY ACCOUNT</a>
			    <a href="javascript:void(0);" class="coupon-ovr" ng-if="!pointstatus" ng-class="{'coupon-top':$first}">{{item.itemText}}</a>
			</div>
			<a href="javascript:void(0);" class="coupon-ovr" ng-if="$index != 0" ng-class="{'coupon-top':$first}">{{item.itemText}}</a>
		</a>
	</div>

	<div class="col col-center coupon-wrapper" ng-repeat="item in footerResponseData" ng-click="goPartnerSite('smartSaver','{{item.itemPath}}')" ng-class="{'footer-active':currentpagePath==item.itemPath || parentPagePath==item.itemPath }" ng-if="item.isSmartSaver == 'yes'">
        <a href="javaScript:void(0)">
            <div class="coupons">
                <img src="{{item.itemIcon}}">
            </div>
            <div ng-if="$index == 0">
                <a href="javascript:void(0);" class="coupon-ovr" ng-if="pointstatus" ng-class="{'coupon-top':$first}">MY ACCOUNT</a>
                <a href="javascript:void(0);" class="coupon-ovr" ng-if="!pointstatus" ng-class="{'coupon-top':$first}">{{item.itemText}}</a>
            </div>
            <a href="javascript:void(0);" class="coupon-ovr" ng-if="$index != 0" ng-class="{'coupon-top':$first}">{{item.itemText}}</a>
        </a>
    </div>

    <div class="col col-center coupon-wrapper" ng-click="openFooterPopover($event)" ng-show="isFooterPopup">
          <a ui-sref="shop">
          <div class="coupons">
            <img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/ios7-more.png">
          </div>
          </a>
          <a ui-sref="shop" ui-sref-active="current-shop" class="coupon-ovr">MORE</a>
    </div>
</ion-footer-bar><!--end of footer-->


<script id="more" type="text/ng-template">
  <ion-popover-view class="fit more-popover">
    	<a href="javaScript:void(0)" class="item item-divider more-item" ng-repeat="items in footerPopupData" ng-click="disableIt(items)" ng-if="((items.isHelp == 'no' || item.isHelp == '')&&(items.isSmartSaver == 'no' || item.isSmartSaver == ''))">
        	<span >
                <img src="{{items.itemIcon}}" class="more-logos">
			</span>
            <p><strong>{{items.itemText}}</strong></p>
		</a>

	  	<a href="javaScript:void(0)" class="item item-divider more-item" ng-repeat="items in footerPopupData"  ng-click="showHelp()" ng-if="items.isHelp == 'yes'">
            	<span ><img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/icon_colour5.png" class="more-logos" ng-if="!appExports" onError="this.onerror=null;this.src='/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/icon_colour5.png';"></span>
                <span ><img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/icon_colour5.png" class="more-logos" ng-if="appExports" onError="this.onerror=null;this.src='../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/icon_colour5.png';"></span>
                <p><strong>{{items.itemText}}</strong></p>
    		</a>

		<a href="javaScript:void(0)" class="item item-divider more-item" ng-repeat="items in footerPopupData"  ng-click="goPartnerSite('smartSaver','{{items.itemPath}}')" ng-if="items.isSmartSaver == 'yes'">
                    	<span ><img src="{{items.itemIcon}}" class="more-logos"></span>
                        <p><strong>{{items.itemText}}</strong></p>
            		</a>

		<!--

        <a href="javaScript:void(0)" class="item item-divider more-item" ng-click="goPartnerSite('smartSaver')" >
			<p><strong>Smart Saver</strong></p>
		</a>

		<a href="javaScript:void(0)" class="item item-divider more-item" ng-click="goPartnerSite('markelytics')" >
			<p><strong>Markelytics</strong></p>
		</a>
		<a href="javaScript:void(0)" class="item item-divider more-item" ng-click="goPartnerSite('moneyMarket')" >
			<p><strong>Money Mart</strong></p>
		</a>
		-->
		<!--
		<a href="javaScript:void(0)" class="item item-divider more-item" ng-click="updateApp($event)" >
			<span >
			<img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/update_app_icon.png" class="more-logos" ng-if="!appExports">
			<img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/update_app_icon.png" class="more-logos" ng-if="appExports">
			</span>
			<p><strong>UPDATE APP</strong></p>
		</a>
		-->
		<a href="javaScript:void(0)" class="item item-divider more-item" ng-click="logout()" ng-show="!loginstatus">
			<span >
			<img src="/etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/logout_icon.png" class="more-logos" ng-if="!appExports">
			<img src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall/img/logout_icon.png" class="more-logos" ng-if="appExports">
			</span>
			<p><strong>LOGOUT</strong></p>
		</a>
  </ion-popover-view>
</script>






</div>

</div> 
                </ion-side-menus>
                <script type="text/javascript" src="../../../../../../cordova.js"></script>
            
        


    </div>
    <script type="text/javascript" src="../../../../../../etc/clientlibs/angularclientlibs.js"></script>


   






<script type="text/javascript" src="../../../../../../etc/designs/phonegap/payback/ng-paybackapp/ng-clientlibsall.js"></script>


    <script src="home.angular-app-module.js"></script>
    <script src="home.angular-app-controllers.js"></script>
       <div  id="brandCarosel" class="brand-carousel-overlay" style="display:none;"></div>
       <div  id="copunsCarousel" class="brand-carousel-overlay" style="display:none;"></div>


</body>
</html>